[2021-06-15 08:17] rkaczorek opened #415 "Libpigpiod conflicts with Libpigpio-dev"
libpigpiod conflicts with libpigpio-dev (originaly provided by OS) due to it provides custom pigpiod.h which tries to overwrite original header file.

running sudo dpkg -i libpigpiod results in:
[code]
What is a rationale behind providing custom libpigpio within INDI framework while it is provided by OS itself? I believe it is really bad practice.

[2021-06-15 11:23] HamHamFonFon commented on #365
Ok. So, what i am doing ?

[2021-06-15 18:28] lboclboc commented on #365
If you tell me the exact commands all the way how you cloned and built the driver I can see if I can reproduce. Also I need to know what exact dist and version are running on your rpi, and model of rpi.

[2021-06-16 10:55] TallFurryMan commented on #414
I also observe that the altitude changes when the mount is not tracking. Given earlier facts, this is logical, but it surprised me while running flat calibration exposures on a wall panel.

[2021-06-16 16:20] TallFurryMan commented on #415
Reference: https://github.com/indilib/indi-3rdparty/pull/329, there seems to be an issue with the debian package.

[2021-06-17 12:40] lboclboc commented on #365
Thanks, I'll try that out.

[2021-06-19 13:24] hangpark opened #416 "release plan of libtoupcam v1.49.1 on mutlaqja ppa"
hi all!

can I know when it will be available to download libtoupcam 1.49.1 with apt mutlaqja ppa?

can't wait for testing my new camera with indi!

i'm new to here, and i'm even not sure that ppa releases are belong to this repo's scope.
but i think @knro can answer me.

thanks for your supports!

[2021-06-19 13:35] knro commented on #416
@hangpark It's already in the Nightly PPA: https://code.launchpad.net/~mutlaqja/+recipe/libtoupcam-nightly

Once we release INDI v1.9.1 officially, it will also be in the stable PPA.

[2021-06-19 14:38] hangpark commented on #416
@knro thanks a lot. but sadly, my ATR3CMOS26000KMA (risingcam IMX571 mono) failed to connect to indi.... :(

[2021-06-23 05:21] #416 closed

[2021-06-26 15:13] lboclboc commented on #365
Sorry, its takes long time for me. Ive just got around to install ubuntu-20.04, i could not find a raspi ubuntu 18.04 anywhere.
What packages to you install to get the rapistill  and the userland libraries to work, i have not used plain ubuntu on raspberry before..

[2021-06-28 06:41] HamHamFonFon commented on #365
Hello, don't worry, it's not a problem if you don't have time: with my one year old baby, i don't have time too ^^.
I've upgraded to ubuntu 20.04 few weeks ago (after my first comment), i've forget to tell it, sorry.
For raspistill, as i remember :
[code]

[2021-07-03 01:27] bgilsrud commented on #125
@Manu4810 can you provide the USB VID and PID for this device? A few of us are working on a driver for the Orion Starshoot G3 if you care to join us: https://indilib.org/forum/general/878-support-for-orion-starshoot-g3-ccd.html

[2021-07-07 06:03] paolostivanin opened #422 "Version inconsitency between CMakeLists and lib"
The CMakeLists report that the QHY so_version is `21`, but looking into the provided bin it seems to be `20`:

https://github.com/indilib/indi-3rdparty/blob/50ef09fbba63a702029ad00511487922d58d8a1f/libqhy/CMakeLists.txt#L6

[code]

This is the same for both `1.9.1` and latest master.

[2021-07-07 07:35] knro commented on #422
I can confirm this issue, SONAME "20" is hardcoded to the CMakelists.txt. I asked QHY to fix this in their next release.

[2021-07-09 08:43] knro commented on #422
SOVERSION reverted to 20 now.

[2021-07-09 08:43] #422 closed

[2021-07-12 17:40] gogolander commented on #376
Same problem on a different camera: ASI 294MM Pro on a Ubuntu 20.04 minipc; controlled remotely by a KStar on a remote PC.
The problem appears whenever the exposition bin is 2x2 or 1x1, which makes plate solving and focusing troublesome.

[2021-07-13 11:03] lboclboc commented on #365
Sorry, I have tried to make the raspistill work on my pure ubuntu-20.04 work on rpi but have not succeded yet. I get compilation errors for the userland. Ive been following several guides but have not succeded so far.

[2021-07-14 17:57] sergio-dr opened #425 "indi-mi TEMP_RAMP error (also: connection timeout, and CCD_READ_MODE error)"
Hi,

after a few months without using my equipment, I updated (from PPA) to kstars 3.5.4 / indi 1.9.1 (indi-mi 1.8), and I noticed these messages appeared on the terminal where I started kstars when I was connecting Ekos to my Moravian G2-8300FW:

[code]

A system notification also popped up alerting of a timeout connecting to the G2, but one or two seconds later, the INDI control panel showed a g

[2021-07-14 19:21] #425 closed

[2021-07-25 03:21] tlkw79 opened #427 "Request serial connection for SX_Wheel"
Hi guys,

Wish to request serial connection option for Sx_wheel.

Regards,
Tom

[2021-07-25 11:08] ajeb78 opened #428 "Synscan slewing incorrectly"
**Describe the bug**
Affects indi_synscan. I am using indi_synscan with a Skywatcher 250P Dobsonian on a GOTO altaz mount. The mount itself behaves correctly when used only with the handset and once aligned will slew to a given GOTO object reasonably accurately.
However when aligned and then controlled via the indi_synscan module it slews to incorrect co-ordinates.It appears to be jumping to the c

[2021-07-25 12:10] ajeb78 commented on #428
Closed - incorrectly submitted in 3rdparty rather than core.

[2021-07-25 12:10] #428 closed

[2021-08-10 05:58] paolostivanin opened #431 "Libraries are missing soname"
Version: all released versions, included latest stable `1.9.1`

The following libraries are missing a `SONAME` (`DT_SONAME`) field, which is unfortunate. Programs built with them will not receive proper library requires (`DT_NEEDED`):

[code]

Unfortunately, this is something that only the vendors (ZWO, QHY, etc) can fix.

[2021-08-10 07:48] jengelh commented on #431
As a workaround, `patchelf --set-soname libstarshootg.so.1` on the packager side is possible.

[2021-08-10 09:32] knro commented on #431
Binary blobs provided by the camera manufacturers. Can't really do much about it besides using patchelf as suggested above.

[2021-08-12 21:41] #125 closed

[2021-08-19 06:00] paolostivanin commented on #431
Thanks!
That worked for almost all libs. I have one last issue with `libatikcameras`, because it requires `libflycapture.so.2`:

[code]

I'm using `patchelf --set-soname 2  libflycapture.so.2`, and it works fine because `DT_SONAME` is correctly set, but when trying to install `libatikcameras2` I get:

[code]

Any idea how I can sovle this @jengelh ?

[2021-08-19 06:40] paolostivanin commented on #431
libflycapture has the correct soname set, so I don't understand why OBS is not picking up the lib correctly (https://build.opensuse.org/package/binary/home:polslinux:teststuff/libindi-3rdparty-libs/openSUSE_Tumbleweed/x86_64/libatikcameras2-1.9.1-17.1.x86_64.rpm)

[code]

[2021-08-19 09:16] paolostivanin commented on #431
found and fixed the packaging issue :) (as always the bug was between the chair and the keyboard)

[2021-08-19 09:16] #431 closed

[2021-08-19 09:59] jengelh commented on #431
When you (re-)set the SONAME on one library, it may be necessary to do --replace-needed in another.

@knro, would it be possible/feasible that indi-3rdparty does the patchelf (perhaps as part of `make install` or something)? Then all distributions would benefit.

[2021-08-19 11:17] paolostivanin commented on #431
In case it might be helpful, that's what I've used to find missing/wrong soname:
[code]

[2021-08-20 17:19] aaronwmorris opened #434 "ZWO ASI Camera unable to use minimum exposure"
**Describe the bug**
I am not sure if this is a python, ZWO, Indi, C, or ARM bug.  The minimum exposure for the ASI290MM is 0.000032 but if that exposure is set, the camera returns an error.  This was working in Indi 1.8.9.

**To Reproduce**
Exact steps to reproduce the behavior.
1. Set ASI290MM minimum exposure to 0.000032

**Desktop (please complete the following information):**
 - OS:  Raspbian

[2021-08-22 18:10] SebNik1 commented on #365
Hello everyone, today I tried getting my rpi hq cam to run on Ubuntu 20.04.3 arm64 on my rpi4 8gb. It seems like the indi-rpicam driver is no longer included in the full indi 3rd party driver package anymore (I checked both stable and nightly repository directories too). I could not run it via terminal using indiserver indi_rpicam nor indi-rpicam.

It is also not possible to manually install it vi

[2021-08-23 09:56] knro commented on #434
indi_setprop works? Ekos?

[2021-08-23 09:59] knro commented on #411
Compiles fine here with latest INDI. Please double check.

[2021-08-23 09:59] #411 closed

[2021-08-23 14:24] gsleap opened #436 "ZWO ASI 294MM-PRO camera fails to download with 1x1 binning in Ekos"
**Describe the bug**
Using Ekos via Kstars v3.5.4 stable on a Raspberry Pi4, the ZWO ASI294MM-Pro camera fails to successfully work in 1x1 bin mode. 2x2 mode is fine. When using 1x1 bin mode, Ekos reports it is capturing, then downloading, but "Downloading" gets hung and after a few retries, Ekos aborts the capture. Interestingly, using CCDciel on the same 'berry works fine in 1x1 binning mode.

*

[2021-08-23 16:06] pleiades-coram opened #437 "Problem with ZWO ASI6200MM camera coexisting with ASI290MM"
SUMMARY
Raspberry (Native Raspbian version)
KStar 3.5.5 beta
KStar Build: 2021-07-28T15:01:33Z

My ZWO ASI6200MM doesn't seem to coexist with my ZWO ASI290MM guide camera.  I plugged my guide camera to the camera USB hub or to the Raspberry USB ports but nothing.  However, both cameras are connecting well when plugged at the same time in using ekos but the main camera is unable to produce image.

[2021-08-23 17:47] knro commented on #437
It appears there is some limitation when the SDK is invoked with multiple cameras. If a single executable does this like what we do in INDI then multiple camera operation may not work fully. The only solution to this issue is to run individual driver per camera. The current ZWO INDI driver architecture does not work like this.

So it would take some work to convert the multi-camera single-driver a

[2021-08-23 18:18] pleiades-coram commented on #437
Hi Jasem,Why asking me to send my problem report here if you are the same person who already responded to me on the other forum? Is someone going to do something about this in a near future?Regards,YvesLe 23 août 2021 13 h 47, Jasem Mutlaq ***@***.***> a écrit :
It appears there is some limitation when the SDK is invoked with multiple cameras. If a single executable does this like what we do in IN

[2021-08-23 19:06] aaronwmorris commented on #434
Both indi_setprop and Ekos accept the 0.000032 value and the exposure is properly processed.

[2021-08-23 20:38] knro commented on #434
Well that takes care of "INDI/C/ARM" and might be just some python issue?

[2021-08-23 21:03] knro commented on #437
Because this is the correct place to report this issue. It's not a KStars issue. Let's see if any of the INDI developers, perhaps @jpaana can suggest a proper solution for this.

[2021-08-23 23:04] aaronwmorris commented on #434
It could be some floating point conversion error between python and swig.  I will reopen this bug under the pyindi-client repo.

[2021-08-23 23:04] #434 closed

[2021-08-24 01:29] pleiades-coram commented on #437
Okay Jasem, I'm going to wait for his response.Regards,YvesLe 23 août 2021 17 h 03, Jasem Mutlaq ***@***.***> a écrit :
Because this is the correct place to report this issue. It's not a KStars issue. Let's see if any of the INDI developers, perhaps @jpaana can suggest a proper solution for this.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitH

[2021-08-24 13:45] HamHamFonFon commented on #365
I have trying to use indi_rpicam with only indi as server and [Astrophotoplus](https://github.com/GuLinux/AstroPhoto-Plus) as client and camera not detected (USB camera not detected too).
I will retry a full installation of indi and 3rd drivers likes indi_rpicam because i don't think the error come from driver. Response in few days (or weeks...)

[2021-08-24 21:00] jpaana commented on #437
Unfortunately I haven't actually even tried running multiple ASI cameras on one machine as currently one of the two I have is in my allsky camera (120MM-S) and the other (178MC) is in my remote observatory. Both have small sensors and neither of them have hubs either so it's quite different from your equipment in any case.

Running one driver per camera would sound quite logical thing to try as th

[2021-08-25 15:24] pleiades-coram commented on #437
Hi Jarno,

Both cameras are able to connect at the same time with ekos. I can use the guide camera but not the main camera. In using the main camera, the guide camera no longer worked.

Below is the listing when using lsusb command. As you can see, Device 007: ID 03c3:290f and Device 005: ID 03c3:620b have no labels but are related to ZWO cameras.

***@***.***:~ $ lsusb
Bus 002 Device 001: ID 1d6b

[2021-08-25 16:49] knro commented on #437
I submitted PR #438 that could fix this issue.

[2021-08-28 14:01] HamHamFonFon commented on #365
Yes, the package in repository doesn't exist anymore. That's wht indi_rpicam can only be installed manually. Here's my yesterday installation :
[code]
It seems you got a problem with C++ package "libnova". Try :
[code]

[2021-08-28 17:41] rkaczorek opened #439 "Inconsistency in naming .so library for libsbig"
I have been heavily playing with cross-compilation and Debian packaging for arm architecture on x86_64 platform to overcome Raspberry Pi resource limitations. I believe I can call it success after quite a few nights to make it running properly for all INDI components, libs and drivers. However...

I have noticed that packaging indi-sbig driver renders an error:
`dpkg-shlibdeps: error: cannot find

[2021-08-28 18:19] rkaczorek opened #440 "libpigpiod installs with error on non-systemd systems"
I have noticed that installing libpigpiod on a system which is not booted with systemd as init system (PID 1) renders the following error:
[code]
Further inspection of the libpigpiod sources reveales that debian postinst file starts pigpiod service unconditionally with systemctl:
[code]
As the result installing a package on any non-systemd system renders unrecoverable error. This applies for examp

[2021-08-28 18:44] #440 closed

[2021-08-29 12:10] knro commented on #439
I also cross compile but this was never an issue. Does this continue to build a debian package? or it aborts here?

[2021-08-29 16:29] rkaczorek commented on #439
Yes, it does compile after symbolic link added. It actually compiles also without symbolic link but packaging does not work. I guess because dpkg-shlibdeps picks .so name from library and does not rely on naming provided by a filename. What do you use for building a debian package? It could be the case that it depends on packaging tools.

[2021-08-29 18:53] SebNik1 commented on #365
Thank you very much for sharing your steps! I tried reproduce everything step by step but it seems my error is not due to missing packages or libraries. Everything was already installed and up to date.

cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug ~/Projects/indi-3rdparty/indi-rpicam
-- The CXX compiler identification is GNU 9.3.0
-- The C compiler identification is GNU 9.3.0
-- Chec

[2021-08-30 04:37] knro commented on #439
Just the usual tools like debuild

[2021-08-30 11:58] rkaczorek commented on #439
So there is no difference in tools used. I think I know why there is a difference in building this library on both sides ;)
[code]
So there are 2 packages related, namely libsbigudrv2 and libsbigudrv2-dev.
When you inspect these packages you get these results:
[code]
[code]
So these are obsolete packages still on your repository. Currently replaced by libsbig. libsbig debian/control file says:
[co

[2021-09-05 12:24] luzik opened #450 "celestron_aux alignment accuracy"
Alignment accuracy depends on first step. Before syncing any point using plate solving, user is obligated to setup mount to the North leveled with alt=0. Sometimes it is hard to do this accurately. Any other software I used, do not require such step.

To reproduce, make an error in leveling with +20 deg in ALT.

1. Reboot software and mount, let it go with fresh run.
2. Set physically mount to poi

[2021-09-05 12:34] knro commented on #450
Recently, I added "Nearest Alignment" plugin. Please try this plugin and report back if it fares any better.

[2021-09-07 07:37] jochym commented on #450
@luzik I did not abandon this project. I am just very busy, so work is going slowly...
I just ported the driver to the 1.9.1 release (PR coming up) and run a test session in "slew to target" and "sync" modes. It was not perfect, but good enough to run 50x30s imaging job with decent results. @knro is the new plugin in 1.9.1 or only in recent commits?

[2021-09-07 08:05] knro commented on #450
@jochym latest in GIT master, not released yet.

[2021-09-07 09:00] jochym commented on #450
Ok. Will test.

[2021-09-09 11:03] hangpark opened #453 "indi_toupcam_ccd: Can't connect with ATR3CMOS26000KMA"
**Describe the bug**

With both the bleeding edge version and the latest released version of `indi-toupbase` (and `libtoupcam`),
my [ATR3CMOS26000KMA](http://www.touptek.com/product/showproduct.php?lang=en&id=298) can't connect to indi server,
with an error log: https://github.com/indilib/indi-3rdparty/blob/master/indi-toupbase/indi_toupbase.cpp#L115

Below is my USB log:

![image](https://user-im

[2021-09-09 11:11] knro commented on #453
@bgilsrud Does OEM cameras inclusion affect in anyway the detection of regular Touptek cameras? From Loader class it doesn't appear to affect native touptek detection.

[2021-09-09 11:18] hangpark commented on #453
@knro actually, this problem also happened before OEM supports were included

[2021-09-09 13:15] bgilsrud commented on #453
@knro the intent was that OEM camera detection would not affect regular Touptek camera detection. However, I don't have a Touptek camera so wasn't able to test that very rigorously.

[2021-09-09 14:05] bgilsrud commented on #453
@hangpark I thought that RisingCam was supported by the libnncam library? Have you tried the indi_nncam_ccd driver?

[2021-09-09 15:02] hangpark commented on #453
@bgilsrud still doesn't work.. (`No Toupcam detected. Power on?`)

[2021-09-09 15:41] bgilsrud commented on #453
@hangpark are you certain that you have the latest toupcam libraries installed? The library that @knro added with his commit on 6/15 appears to support your camera (using the indi_toupcam_ccd driver). I can check the usb IDs later to make sure they match your device, but just running strings is enough to suggest it should work:
`bgilsrud@lnxdev:~/indi-3rdparty/libtoupcam/arm64$ strings libtoupcam.

[2021-09-10 01:01] hangpark commented on #453
@bgilsrud thanks for your help 😃

I think my camera is included in the library, but can't be detected on.

![image](https://user-images.githubusercontent.com/13899323/132781776-ab9e1ed6-ed13-4be1-a07f-9d4271816d1a.png)

Please let me know how can I get information about the connection issue.

[2021-09-10 02:17] bgilsrud commented on #453
You'll want to check the library that indi_toupcam_ccd is linked against (rather than the library from the git repo). It's probably in /usr/lib/aarch* somewhere. You can find it by running "ldd $(which indi_toupcam_ccd) | grep libtoup"

Another idea would be to verify that you have permission to access the device. You can do this by doing "ls -alh /dev/bus/usb/${BUS}/ and looking for the address o

[2021-09-10 03:21] hangpark commented on #453
@bgilsrud I think everything is well configured..

![image](https://user-images.githubusercontent.com/13899323/132794262-5150b491-3734-46c6-9f16-2c087b1cca24.png)

[2021-09-10 03:31] hangpark commented on #453
hmm... I found that my `libtoupcam` library's `*.so` file is located at `/usr/lib/*` but `ldd` targets `/lib/*`. Could this be a root cause?

![image](https://user-images.githubusercontent.com/13899323/132794744-543abaab-e463-4f8e-8511-025196f96391.png)

(but both `/usr/lib/*.so` and `/lib/*.so` contain my camera as well 😢)

![image](https://user-images.githubusercontent.com/13899323/132795064-84d

[2021-09-13 03:44] hangpark commented on #453
@bgilsrud any further approaches...? 😿

[2021-09-14 15:12] bgilsrud commented on #453
Does Touptek provide their own imaging client? If so, it might be worth trying your camera with that.

[2021-09-16 19:42] noldi20 opened #458 "Meade DSI IV Color Exposure failed with indi_toupcam_ccd"
Meade DSI IV Color is connected to StellarMate (1.6.0) and controlled with Kstars and driver Indi_toupcam_ccd V0.7. All settings can be done and read out.

Reproduced error:
1. Ekos Camera: Exposure 1.0 sec, rest on default
2. Add job to sequence "+"
3. Start Sequence
4. Exposure starts with countdown
Error: Camera timed out multiple time. Exposure failed

Logfile:
...
[2021-09-15T19:31:58.718 CES

[2021-09-16 20:19] knro commented on #458
@bgilsrud is this camera supported by the generic oem toupcam driver?

[2021-09-16 21:31] bgilsrud commented on #458
Yes, it should be. It looks like the camera was detected and connected correctly. @noldi20 can you provide the USB device ID for the camera? Running lsusb while the camera is connected will have the info I'm looking for.

[2021-09-16 21:48] noldi20 commented on #458
here is the usb device ID:

tellarmate@stellarmate:~ $ lsusb
Bus 002 Device 002: ID 0547:e077 Anchor Chips, Inc.
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 003: ID 1a40:0101 Terminus Technology Inc. Hub
Bus 001 Device 002: ID 2109:3431 VIA Labs, Inc. Hub
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

[2021-09-16 23:38] bgilsrud commented on #458
Thanks. The driver incorrectly thinks that camera doesn't have a DDR buffer. That might explain why image capture doesn't work. I'll submit a PR in a little bit.

[2021-09-17 01:15] bgilsrud commented on #453
I extracted the camera table from the 1.49.1 version of libtoupcam and I can see that the ATR3CMOS26000KMA camera is there, but it shows a different USB PID. This explains why your camera is not found:
`[TOUPCAM_MODEL_ATR3CMOS26000KMA      ] = { 0x12bf, { "ATR3CMOS26000KMA            ", 0x00000180876b84d9, 2, 3, 0, 1, 0, 3.760000, 3.760000, {{6224, 4168},{3104, 2084},{2064, 1386},}}},
[TOUPCAM_MOD

[2021-09-17 14:52] bgilsrud commented on #458
@noldi20 the change has been merged. I'm not sure how/when this will be available in Stellarmate, but you could manually build it to see if it fixes your problem.

[2021-09-17 15:55] noldi20 commented on #458
@bgilsrud great thanks a lot for your quick fix! I will test it.

[2021-09-20 11:06] noldi20 commented on #458
@bgilsrud it's working now and already deployed with StellarMate. many thanks for the fast fix.

[2021-09-20 14:43] bgilsrud commented on #453
We could use the toupcam OEM support functionality to add support for this camera, but the code will need to be improved so that it doesn't interfere with devices that are supported by libtoupcam. I'll do this in the next day or so.

[2021-09-22 10:51] hangpark commented on #453
@bgilsrud Thanks a lot! I'll try with your fix. Please let me know if you need any extra information about my camera.

[2021-09-22 13:13] #458 closed

[2021-09-24 05:15] bgilsrud commented on #453
@hangpark I've pushed some changes to https://github.com/bgilsrud/indi-3rdparty.git in the ATR3CMOS26000KMA branch. Would you be able to test them? Also, it would be helpful if you could provide the output of lsusb when the camera is plugged into a USB 2.0 port since the PID will be different (probably either 0x12c1 or 0x12bf) than it is when the camera is plugged into a USB 3.0 port.

[2021-09-24 13:55] jens-hennig commented on #453
I have tested my ATR3CMOS26000KMA on a Rasperry Pi 4. The camera reports PID 0x12c0 when pugged into a USB 2.0 port and 0x12bf when connecting to a USB 3.0 port. For testing purposes I have added the ATR3CMOS26000KMA with PID 0x12bf to oem_cameras.cpp with the same parameters than the ATR3CMOS26000KPA and this worked.

[2021-09-24 14:38] bgilsrud commented on #453
@hangpark my changes won't work as-is since I have pid 12c0 mapped as the USB3 pid. I'll fix them later today.

[2021-09-24 19:57] grantbrown commented on #382
[Re-opening](https://www.indilib.org/forum/focusers-filter-wheels/8574-atik-filter-wheel-driver-crashes.html?start=12#75905), as this is still a thing and Atik doesn't appear to have released a fix. Any ideas about a workaround?

[2021-09-24 20:10] grantbrown commented on #292
I believe [this issue](https://github.com/indilib/indi-3rdparty/issues/382) is likely related. I can use an Atik EFW 2.2 on an Ubuntu 18.04 system, but on 20.04 and newer it fails. Any ideas about a workaround?

[2021-09-24 20:34] paolostivanin commented on #292
I don't think this issue is related to your bug. Ubuntu 20.04 is using glibc 2.31 (while 18.04 was using 2.27), so this shouldn't be an issue. _Usually_, glibc is backwards compatible.

[2021-09-24 20:41] grantbrown commented on #292
Gotcha. I tried running 18.04 under docker and that didn't fix the issue, since from what I understand that won't change glibc. Under Gnome Boxes 18.04 works *shrug*. Atik promised a reply back in April but I haven't heard back.

[2021-09-24 20:49] paolostivanin commented on #292
libflycapture:

[code]

libatikcameras:
[code]

That's very weird, it should work fine with Ubuntu >= 18.04 and Fedora 33...

[2021-09-24 20:49] paolostivanin commented on #292
Do you have the following deps installed?

[code]
[code]

[2021-09-24 21:14] paolostivanin commented on #292
Just out of curiosity, could you please try also openSUSE Tumbleweed (https://get.opensuse.org/tumbleweed)? You need to install the OS and then add the Astro repo like this:
[code]
and then execute:
[code]

then you can start Kstars -> Ekos, add your profile, etc...

[2021-09-24 21:18] grantbrown commented on #292
All good questions - as far as the shared libraries, I believe all those should have been available. I'll run a "clean" test tonight in a new Boxes machine so that I can answer precisely and completely.

[2021-09-25 01:35] bgilsrud commented on #453
@hangpark I pushed some changes that I think should work.

@jens-hennig, had you tried the latest touptek library (1.49.1) with the camera plugged into a USB 3.0 port? I would expect that should work since the 0x12bf pid is supported by that library. It's interesting that library shows 0x12be for the touptek ATR3CMOS26000KMA in USB 2.0 mode. Maybe the difference is that your cameras are sold under

[2021-09-25 02:26] grantbrown commented on #292
Progress!!! Following the shared libraries you identified, it seems like most were available, but I installed libgcc1 and ib64stdc++6 on a new install Ubuntu 20.04 and it ended up working. It seems I was entirely incorrect about this being related to glibc, but I'm still confused about why things worked out on 18.04 just following the usual build instructions and cmake output.

It seems like this

[2021-09-25 03:40] hangpark commented on #453
@bgilsrud i'm on the way to testing! it's very first time to build & install from the source code, sonce i've installed via apt. does following instruction on the below doc for indi-toupcam work and override my pre-installed apt version well? or should uninstall apt driver before running cmake & make install?

https://github.com/indilib/indi-3rdparty#building-individual-3rd-party-drivers-typically

[2021-09-25 06:42] paolostivanin commented on #292
Cool, I'm glad to hear that it's working :)
About Ubuntu 18.04 I can think of only two things: either you or a package pulled in those deps or they were installed by default.
Nah, if it works when the needed deps are installed, then there's no need to test openSUSE too. Our build system does reverse deps analysis, so it automatically brings in the needed deps, so if the packager forgets things do

[2021-09-25 07:54] jens-hennig commented on #453
I can confirm, that I have tested with library version 1.49.1. On the USB 3.0 it shows 0x12bf.  I am not shure if I have a Touptek, Rinsingcam or something else... They all look the same, I think? There is also an Austrian Vendor that sells this camera under his brand "LACERTA". The label on the package is attached..
![cam_label](https://user-images.githubusercontent.com/1842616/134763704-56f61bf8

[2021-09-25 08:23] jens-hennig commented on #453
@hangpark  The compilation procedure that you mentioned worked fine for me. The driver was overwritten. You may face some problems if you have an older version of the indi library. In this case you need to download, compile and install the indi library too.
[https://github.com/indilib/indi](url)

[2021-09-26 03:26] bgilsrud commented on #453
@hangpark the only difference is that you'll have to checkout my branch:
git clone https://github.com/bgilsrud/indi-3rdparty.git
cd indi-3rdparty
git checkout ATR3CMOS26000KMA

[2021-09-26 10:50] hangpark commented on #453
@bgilsrud i finally connected my camera successfully! but, it fails capturing.. :(

The error log shows "Camera timed out multiple times. Exposure failed". @jens-hennig does your camera capture well?

[2021-09-26 11:12] jens-hennig commented on #453
Yes, I can capture images. but I have problems when I use a longer (>1m) USB cables. The camera connects but the image download fails. I have orderd an active USB cable. I hope this gives me a bit more length. There is also a setting for the USB speed. This has to be set to zero.

[2021-09-26 11:20] hangpark commented on #453
@jens-hennig I can't find a setting for USB speed. Can you share your indi control panel settings?

[2021-09-26 11:37] jens-hennig commented on #453
@hangpark  I can be found under "CONTROLS" The parameter is simply named "speed"

[2021-09-26 11:45] hangpark commented on #453
@jens-hennig Oh, it is set to zero already.

@bgilsrud My camera connected successfully, and I can adjust settings well, such as turn on/off fan and cooler, but capturing images always fails with timeout. Can my USB cable cause this problem? hmmm....

[2021-09-26 12:27] jens-hennig commented on #453
@hangpark : I have just tested it.
1 m cable works.
1 m cable with 1m extension failed.
1 m cable with a USB 3.0 Hub connected by 1m cable works. This will be my final configuration.

Do you use USB 3.0 or 2.0. I have only tested 3.0 on a Rasperry Pi 4

[2021-09-26 13:12] bgilsrud commented on #453
Its possible that i messed up the change and didnt associate the pid with the correct camera. @jens-hennig can you share the change that you made?

[2021-09-26 14:22] jens-hennig commented on #453
@bgilsrud  I don't have much experience with github... so i attach my changes to this post. I want to learn how to use use git correctly... I think the "correct" way of sharing would be: I clone the repository to my home folder on github... ,ake a branch for testing.  Commit the chamnges... make a Pull request...  am I right? So please apologize for this
[oem_cameras_cpp.txt](https://github.com/in

[2021-09-26 18:54] bgilsrud commented on #453
@jens-hennig yes, that's pretty much it for the github process. The process of copying the repo into your account is called forking. Everything else is spot on.

I looked at the changes and can't see how they would have any impact. The toupcam_models array is just a table of cameras that were dumped from a previous version of libtoupcam (SDK v48.18042.2020.1128). We use this table since we need to

[2021-09-26 19:56] jens-hennig commented on #453
@bgilsrud  You are right... it seems that my camera evaluated by the indi driver function FP(EnumV2(pCameraInfo)); and not by OEMCamEnum(&pCameraInfo[iConnectedCamerasCount], iCamInfosLeft);   I had a lot of problems with the USB connection. Maybe that it coincidentally worked after I made this uncomplete change. Sorry for the confusion.

[2021-09-27 08:05] hangpark commented on #453
@bgilsrud actually I tested with usb2.0. it might work if I do with usb3.0. I'll test in few days...!

[2021-09-27 12:49] grantbrown commented on #382
After some help in [this issue](https://github.com/indilib/indi-3rdparty/issues/292), it looks like this should be fixable on Ubuntu 20.04 by installing the following system packages in addition to those identified elsewhere in the build process:

    libgcc1
    ib64stdc++6

[2021-09-27 13:32] bgilsrud opened #463 "Exposure timeouts with Toupcam USB2 cameras"
I'm seeing exposure timeouts when autoguiding using a Meade LPI-GM camera. When the timeouts occur, it can take around 30s before a new exposure is requested. This extended delay will cause the guide accuracy to drop.

It would be nice if these timeouts could be avoided, but the next best thing would be to reduce the time it takes to recognize that the exposure isn't going to complete and start a

[2021-09-27 13:32] bgilsrud commented on #463
I'm happy to work on this since I can easily reproduce the issue.

[2021-09-27 13:50] knro commented on #463
Sure go ahead, I've tried to deal with timeouts before as you can see in the code.

[2021-09-27 17:25] Jul3k opened #464 "indi-gige does not compile with current version of Aravis"
The current implementation of  indi-gige requires to be compiled with Aravis < 0.8.0. as function calls were changed to include an [error parameter](https://github.com/AravisProject/aravis/commit/36d23d9a3f3e6e4118e3f8e80c5bfed000632d0d). I do not know how mature this driver is. I was trying to get a USB3 Vision camera working which is supported by Aravis.

**Reproduce**
1. Install Aravis 0.8.18
2

[2021-09-28 04:53] knro commented on #464
I don't think driver is currently well maintained. Can you please submit a patch to fix the issue?

[2021-09-28 05:19] knro commented on #450
Any updates?

[2021-09-28 05:19] knro commented on #437
Can you test with "ZWO Camera 1" and "ZWO Camera 2" drivers?

[2021-09-28 05:29] knro commented on #436
Did you check with the latest INDI release? perhaps this is an Astroberry specific issue as well, did you check on PC or other platforms?

[2021-09-28 05:50] #250 closed

[2021-09-28 05:51] #339 closed

[2021-09-28 05:53] #376 closed

[2021-09-28 05:53] #373 closed

[2021-09-28 05:53] #400 closed

[2021-09-28 05:55] knro commented on #396
Purge all INDI and then reinstall. I cannot reproduce this issue.

[2021-09-28 05:55] #396 closed

[2021-09-28 05:56] knro commented on #300
Ok, so this is probably a downstream issue.

[2021-09-28 05:56] #300 closed

[2021-09-28 05:57] knro commented on #399
Any idea if you can submit a patch for this?

[2021-09-28 05:57] #310 closed

[2021-09-28 05:58] knro commented on #257
This is downstream issue, not an INDI issue per se.

[2021-09-28 05:58] #257 closed

[2021-09-28 05:58] #216 closed

[2021-09-28 05:59] #208 closed

[2021-09-28 05:59] #163 closed

[2021-09-28 06:00] #156 closed

[2021-09-28 06:02] knro commented on #178
To follow up with this, the driver is working fine with libraw 20. Please reopen if you believe this is still an issue.

[2021-09-28 06:02] #178 closed

[2021-09-28 06:02] #378 closed

[2021-09-28 06:03] knro commented on #24
Closing as this must be fixed by upstream SBIG.

[2021-09-28 06:03] #24 closed

[2021-09-28 06:04] knro commented on #124
Following up a year after this! I guess this is still not supported?

[2021-09-28 06:05] #140 closed

[2021-09-28 06:06] knro commented on #260
@k-ross is there perhaps a simple fix to this?

[2021-09-28 06:09] knro commented on #365
The issue is not libnova (that was just warning), it's with brcmEGL_LIBRARY

It appears these might be only available on Raspbian OS?

[2021-09-28 06:10] #439 closed

[2021-09-28 06:11] #5 closed

[2021-09-28 06:11] knro commented on #85
Any update on this? CMakelists.txt probably needs to be updated?

[2021-09-28 06:12] #150 closed

[2021-09-28 06:12] knro commented on #298
Is this still an issue with latest INDI release? Please confirm.

[2021-09-28 06:13] knro commented on #118
Ok marking this as "wontfix" since no update for a year now.

[2021-09-28 06:13] #118 closed

[2021-09-28 06:20] #414 closed

[2021-09-28 06:23] #292 closed

[2021-09-28 07:33] jochym commented on #298
It should not be a problem. If it is, it should be visible in other drivers as well - CAUX mostly uses INDIs comm procedures - the only difference is the serial handshake functions, which are slightly irregular in celestron scopes and had to be handled manually in our code. I have no hardware to test so the @tgghtp has to confirm if this is an issue. @fabriziop is your scope equipped with USB PC p

[2021-09-28 07:39] jochym commented on #450
I have tested under the sky, and it worked ok. I could not properly reproduce the test case. I am working (slowly) on a better simulator for the scope. So no fundamental updates yet. Keep the issue open - it may be valid and may need fixing.

[2021-09-28 09:07] JiangXL commented on #257
Actually, I find that `indi=3rdparty` has `fxload-libusb` and `fxload` modules. @xsnrg How about packaging these?

[2021-09-28 12:02] Jul3k commented on #464
The driver compiles correctly with the submitted patch. It does however not show in Ekos because it says no camera is connected:
`"Unable to establish:\n+ GigE CCD\nPlease ensure the device is connected and powered on."`
This is strange because I can see in the Debugger, that a camera is found and initialized. Do you know where this error message comes from? I cannot find anything similar in the s

[2021-09-28 12:07] #450 closed

[2021-09-28 12:08] knro commented on #464
You can safely ignore this if the devices indeed shows up in Ekos. What's the name of the device that shows up exactly?

[2021-09-28 12:37] Jul3k commented on #464
The problem is that no device tab shows up in the Indi Control Panel. I can select a `GigE CCD` in the profile editor, but when I start the server, no new device tab is shown in the indi control panel. The log shows the following:

`[2021-09-28T14:30:14.801 CEST DEBG ][           org.kde.kstars.indi] - Received new device U3-380xCP-C
[2021-09-28T14:30:14.806 CEST DEBG ][           org.kde.kstars.i

[2021-09-28 17:37] fabriziop commented on #298
@jochym no, I have only serial ports. Just to refresh what does the driver at handshake time when the port is of serial type. It first checks if hardware handshake is present. If yes, it means that the connection is to AUX or PC serial connectors with 19200 speed. If no, the connection is supposed to be to HC USB port or to a mount USB port with 9600 speed. Just an hypotesis: CGX USB PC port may h

[2021-09-29 04:55] knro commented on #464
I think you need to patch the driver so that getDefaultName always return "GigE CCD", and in the constructor perhaps try to rename the driver to something like "GigE CCD %s" where %s is camera->name so that the final name is "GigE CCD U3-380xCP-C". You can also drop the whole "CCD" part if you like, it's old tradition but no longer applicable today.

Let me know if you need help in this.

[2021-09-29 08:48] rkaczorek commented on #439
Can be related to #24

[2021-09-29 10:04] Jul3k commented on #464
Thank you. That solves the problem. The driver is now displayed in the Control Tab. It crashes however when a frame is captured and the properties are not correctly read from the camera. There seem to be more problems with this driver. As far for the compilation error this can be closed.

[2021-09-29 10:04] #464 closed

[2021-10-01 08:04] hangpark commented on #453
@bgilsrud @jens-hennig I finally could capture an image after change USB 2.0 to 3.0!!

[2021-10-05 08:34] fockez opened #467 "Oculus all sky camera with indi-sx driver produce smeared images."
When I use Oculus all sky camera with indi-sx driver, it can run, using CCDCiel as camera client can get images.
But the image produced is smeared like full frame ccd without shutter. This is not the same as the official windows software.
The indi platform runs under raspberry pi 4b.
What will cause this problem?

[2021-10-07 09:10] paolostivanin opened #469 "QHY268M humidity sensor support: false"
I just got a new QHY268M and, after some fiddling, it's now working fine under Linux (openSUSE).
On openSUSE Tumbleweed (INDI 1.9.2, Kstars 3.5.5), I get:

[code]

while on openSUSE Leap 15.3 (INDI 1.9.2, Kstars 3.5.5), I get a green light and a reading of 0.0

Is it the humidity sensor supported at all?

Thanks

[2021-10-07 11:20] paolostivanin commented on #469
Done, I've just sent them an e-mail. Let's see what they'll answer :+1:

[2021-10-10 17:17] SebNik1 opened #470 "indi_QHY libqhyccd.so.21: cannot open shared object file: No such file or directory"
Dear INDI Community, since the latest update I cannot run the qhy indi driver anymore, neither from the scrip I wrote nor in kstars.

Terminal script shows this error:
2021-10-10T17:07:15: Driver indi_qhy_ccd: indi_qhy_ccd: error while loading shared libraries: libqhyccd.so.21: cannot open shared object file: No such file or directory

Kstars device manager says:
2021-10-10T17:15:13: startup: /usr

[2021-10-13 05:17] #470 closed

[2021-10-13 18:25] RononDex opened #473 "indi_qhy_ccd searches for wrong qhy sdk"
**Describe the bug**
Since the recent update, indi_qhy_ccd keeps crashing with the following error message:
![image](https://user-images.githubusercontent.com/2249071/137190953-b7c8d09b-caed-4360-8ae0-f23a9e4a3c29.png)

I already uninstalled and reinstalled everything, even built everything from source, problem still persists.

Following files exist:
![image](https://user-images.githubusercontent.

[2021-10-13 18:41] xsnrg commented on #473
The version of the library was updated to 21, and it looks like your install has 21.9.10, so that is good.
It looks like indi-qhy is still looking for 20 when it should be looking for 21. Make sure your sources are up to date, and try re-compiling indi-qhy.

[2021-10-14 06:25] RononDex commented on #473
What exactly do you mean by `make sure sources are up to date`? I already tried deleting the local source folders, cloning them again (for indi, indi-3rdparty and kstars) and recompiling everything, still the issues persists.

Is it possible there is some file I have to delete locally?

[2021-10-14 12:01] RononDex commented on #473
I was able to get it running now, however, the qhy driver now keeps crashing every few seconds.
Here is a logfile with ccd debug logging enabled
[logfile-ekos.txt](https://github.com/indilib/indi-3rdparty/files/7345805/logfile-ekos.txt)
:

[2021-10-20 15:47] dbadavekc opened #475 "iOptron CEM70G iGuider/iPolar issue"
When selecting the iGuider as the guider in KSTARSon a CEM70G, the actual hardware that's used by Indi is always iPolar.
On a whim, I tried swapping iGuider for iPolar as a device, but iPolar was always chosen.

Not sure how to manually configure it to use the correct device - any help is greatly appreciated!

<img width="782" alt="image" src="https://user-images.githubusercontent.com/27701673/138

[2021-10-21 10:15] knro commented on #475
In Options, you can change the port from /dev/video0 to /dev/video1 for example and so forth. I actually don't see this as a good solution, so I'm working with @rlancaste to come up with a way to connect directly to each device.

[2021-10-30 02:22] sgromoll opened #481 "std::abs used instead of std::fabs"
**Describe the bug**
In `asi_base.cpp`, `std::abs` is used in `ASIBase::SetTemperature` to compare the current temperature difference to a floating point value like `TEMP_THRESHOLD` (0.25).  `std::abs` takes (and returns) and int/long, so presumably `std::fabs` should be used here since you are comparing to a float.

This occurs in several places in the file (and from a quick `grep` many places in

[2021-10-30 08:12] knro commented on #481
it actually returns double. Check the definition in std_abs.h

[code]

[2021-11-05 02:12] sgromoll commented on #481
Yep, thanks for clarification.

[2021-11-05 02:12] #481 closed

[2021-11-08 04:52] knro commented on #260
Great, will close this issue, please reopen if another creeps up.

[2021-11-08 04:52] #260 closed

[2021-11-12 18:45] utoxin opened #482 "Installation Issues"
I'm trying to install the SV503 support on a Raspberry Pi. I was able to compile and install libsv503, but when I try to build indi_sv503, I get a bunch of errors. I'm not sure where to proceed from here. Is there anywhere with a guide for this?

[code]

[2021-11-14 17:18] treaves opened #484 "Can't load QHY firmware QHY600.img"
**Describe the bug**
I'd installed Astroberry several months ago.  Everything in my rig was seen and worked.  Until I ran apt upgrade.  This originally broke several things.  In the subsequent runs, most have started working again, except my QHY camera.  I am now building everything from source, and I have the same issue.

I can see my attached QHY camera with **lsusb**:
`Bus 001 Device 013: ID 16

[2021-11-14 17:30] treaves commented on #484
Well, some more digging has lead me to [this](https://github.com/qhyccd-lzr/QHYCCD_Linux/issues/29) report of it being an **fxload** issue.  The linked version does work (meaning both Ekos & qhy_ccd_test work).  Not sure what to do from here to get this properly resolved.

[2021-11-15 15:54] paolostivanin commented on #484
In order to upload a firmware on recent astro cameras (usb3 devices), the distro needs fxload version `2013_01_03`.
Most distros ship with `2008_10_13`, a version that does not support those new devices.
The codebase of the new fxload is the same as the old fxload but with some small changes made by Steven J. Magnani that add support for Cypress FX3 USB 3.0 devices.

TL;DR: you have 3 options:
1.

[2021-11-17 15:11] ilkanaev opened #487 "Minimal exposure time is 1/10 for Sony DSLR in INDI and in EKOS (astroberry 2.0.4 setup)"
**Describe the bug**

When using INDI/EKOS, there is no any option to use exposure lower than 1/10 sec.
i am running with **astroberry 2.0.4 on raspbery pi 4 (4Gb)**.
i have **Sony a6500 DSLR** as my main camera. The camera set to Manual -> BLUB mode.
The camera connected to D-LINK USB3 hub (with few other devices), and the hub connected to the USB3 port of rasbery.

**To Reproduce**
If i swith th

[2021-11-17 20:54] sonny486 commented on #484
I have seen this happen many times when I am using a USB3 hub that does not communicate with the QHY product properly, OR the USB3 cable is too long.

I would make sure the power to the camera and the USB3 hub also has the proper power to link properly.

If you can watch your raspberry PI and see when you plug it in if you get the FXload error with tail -f /var/log/syslog

[2021-11-18 23:52] rkaczorek commented on #487
Please provide output from `gphoto2 --version`

[2021-11-19 08:44] dabateman opened #489 "Bullseye installation on Raspberry pi 4b fails"
I was able to successfully install Indi and Phd2 on the recent Bullseye Raspberry pi OS.
However I can't connect to my Lodestar x2c camera in Phd2.  I can see it using lsusb.
When testing if the Sx ccd was there, it wasn't.
But I can't seem to install these 3rd party drivers.
I get a bunch of library issues.

Will Bullseye support be added soon or am I missing something simple.
Thank you.

[2021-11-19 08:48] knro commented on #489
What issues with 3rd party install?

[2021-11-19 12:37] dabateman commented on #489
**This is my error:**

pi@raspberrypi:~ $ cd ~/Projects/build/indi-sx
pi@raspberrypi:~/Projects/build/indi-sx $ cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug ~/Projects/indi-3rdparty/indi-sx
-- Found CFITSIO: /usr/lib/arm-linux-gnueabihf/libcfitsio.so
-- Configuring done
-- Generating done
-- Build files have been written to: /home/pi/Projects/indi-3rdparty/indi-sx
pi@raspberrypi:~/Pr

[2021-11-19 12:38] knro commented on #489
Looks like you didn't install libindi first from Git?

[2021-11-19 12:44] dabateman commented on #489
**I think I did.  I installed Indi first and all the libraries from the 3rd party.

I have also tried this with the following error:**
pi@raspberrypi:~ $ sudo apt install indi-full gsc

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are usi

[2021-11-19 12:46] dabateman commented on #489
Oh I see running it gave errors:

pi@raspberrypi:~ $ sudo apt-get -y install libindi-dev

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved

[2021-11-19 13:05] knro commented on #489
You need to install libindi from GIT, not sudo apt-get since that version in the Debian repo is older.

[2021-11-19 14:12] dabateman commented on #489
Where is that located?

[2021-11-19 14:54] ilkanaev commented on #487
astroberry@astroberry:~ $ gphoto2 --version
gphoto2 2.5.20

Copyright (c) 2000-2018 Lutz Mueller and others

gphoto2 comes with NO WARRANTY, to the extent permitted by law. You may
redistribute copies of gphoto2 under the terms of the GNU General Public
License. For more information about these matters, see the files named COPYING.

This version of gphoto2 is using the following software versions

[2021-11-20 14:36] rkaczorek commented on #487
This a standard libgphoto version so it must be indi-gphoto driver indeed.

[2021-11-20 14:39] knro commented on #487
Driver log?

[2021-11-20 14:44] ilkanaev commented on #487
Hi,
Please trell me how to get the log you need and i will provide it.
Thanks,
Yossi

[2021-11-22 18:10] ilkanaev commented on #487
Hi @knro ,
I would really appreciate your help here, how to get the logs you need?

Thank you in advance,
Yossi

[2021-11-22 18:14] knro commented on #487
Please check here: https://indilib.org/individuals/logs-howto.html

[2021-11-22 19:56] ilkanaev commented on #487
hi
please find enclosed the logs
at the begining the camera was in BLUB mode.
i took one image with 1sec exposure
then multiple images with multiple exposures using INDI controller and using EKOS
then set of three images with different exposure from EKOS controller
then moved the camera out of blub, to 1/2000 sec
and took set of three images as before
[log_21-42-48.txt.gz](https://github.com/indil

[2021-11-23 09:56] knro commented on #487
I see all taken with bulb exposure mode so this is why you can't get very low. If you disable bulb exposure in INDI --> Options then  you said it crashes? I need to see log of what happens and preferably a backtrace of the crash.

[2021-11-23 14:28] ilkanaev commented on #487
Hi,
please find enclosed the new lo
[log_22-02-07.txt.gz](https://github.com/indilib/indi-3rdparty/files/7588713/log_22-02-07.txt.gz)
g
the scenario is enable logs

1. connect
2. change Force BLUB to disabled
3. in EKOS take a picture with 0.0001 sec exposure

I did it few times, including one time witth 1sec exposure before 0.0001sec exposure (crashed as well).

Please also note - i found some wo

[2021-11-24 07:13] knro commented on #484
Closing as this is a downstream issue.

[2021-11-24 07:13] #484 closed

[2021-11-24 07:14] knro commented on #473
Ok it's no longer crashes but apparently there is USB error. Try changing cables/ports.

[2021-11-24 07:14] #473 closed

[2021-11-24 07:15] #453 closed

[2021-11-24 07:16] knro commented on #436
If using the same driver works fine with CCDCiel then it's an Ekos issue, not INDI.

[2021-11-24 07:16] #436 closed

[2021-11-24 07:17] knro commented on #475
The latest drivers should automatically detect both devices in INDI Core library.

[2021-11-24 07:17] #475 closed

[2021-11-24 07:17] #469 closed

[2021-11-24 07:18] #401 closed

[2021-11-24 07:18] #437 closed

[2021-11-24 07:19] knro commented on #463
@bgilsrud I don't recall if this was already fixed or not?

[2021-11-24 07:20] knro commented on #90
@karlrees Any update on this issue?

[2021-11-24 07:20] knro commented on #271
@lboclboc @cnieswand is this still an issue with the latest RPICam driver?

[2021-11-24 07:22] #365 closed

[2021-11-24 07:23] knro commented on #467
What SX chip does this camera use?

[2021-11-24 07:23] #85 closed

[2021-11-24 07:24] knro commented on #482
Please install INDI core library first from Github.

[2021-11-24 07:24] #482 closed

[2021-11-24 07:26] fockez commented on #467
ICX267AL
The product link is https://www.sxccd.com/product/oculus-all-sky-camera-180/

[2021-11-24 07:28] knro commented on #342
@damienh same issue with recent driver?

[2021-11-25 06:02] karlrees commented on #90
No.  I think it's just a limitation of the pktriggercord-based driver.  This is an interesting thread though: https://github.com/asalamon74/pktriggercord/issues/51.  I wonder if the solution at the end would help.

[2021-11-25 19:03] lboclboc commented on #271
Yes, sadly this is still a problem. I have not been able to find a solution for this yet.

[2021-11-25 23:01] ilkanaev commented on #487
When Force BLUB disabled in INDI, I saw the crash happening on various exposures and not only on these lower than 1sec. so it is not related to the pecific exposures....

[2021-11-26 08:05] dabateman commented on #489
Still getting errors when trying. I did update to newest libindi-dev

pi@raspberrypi:~ $ cd ~/Projects/build/indi-sx

pi@raspberrypi:~/Projects/build/indi-sx $ cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug ~/Projects/indi-3rdparty/indi-sx

-- Found CFITSIO: /usr/lib/arm-linux-gnueabihf/libcfitsio.so
-- Configuring done
-- Generating done
-- Build files have been written to: /home/pi/P

[2021-11-26 08:09] knro commented on #489
Compile INDI library first: https://github.com/indilib/indi

[2021-11-26 08:09] #489 closed

[2021-11-26 20:05] dabateman opened #493 "Raspberry pi installation on Bullseye fails!"
Ok fresh version of Bullseye added to a micro SD card.
Indi sucessfully installs from Github, just as done in the past. But this time did it with full verison, not just with depth 1.

Was able to install all 3rdparty libraries succesfully.

But can't install all 3rdparty drivers.
Also can't install the SX driver for the lodestar X2C camera that I need.

Following was the output:

pi:~/Projects/bui

[2021-11-26 20:07] dabateman commented on #493
Also this time I have my camera attached to the pi, just incase that makes a difference. Obviously not as still will not install.
Must still be a driver problem that I can't see.

[2021-11-28 00:36] k-ross commented on #493
This is looking like a version conflict between indi and indi-3rdparty. Did you install indi via the repo, or did you build indi from source? If you're going to build indi-3rdparty from source, you also need to build indi from source (after removing any indi packages that were installed).

[2021-11-28 00:50] dabateman commented on #493
I download the version of indi that was currently up here and followed all instructions:
https://github.com/indilib/indi
Then downloaded 3rd party apps here and built moments later following the instructions.
And these are the errors.
Indi installed without errors.

Today I downloaded and installed Phd2 and it installed without any errors.  But can't see my Lodestar camera.  I definitely need thes

[2021-12-03 16:24] knro commented on #487
I tested with Canon 600D (Force Bulb enabled) Nikon D3500 (Force Bulb disabled) and I can get 1/1000 and 30+ second image just fine with both cameras. Not sure what's going on with your particular model.

[2021-12-06 07:23] ilkanaev commented on #487
is there anythyng i can help you to help me :-)?

[2021-12-07 11:39] rkaczorek commented on #487
@knro the strange thing is that tests performed by @ilkanaev with binary gphoto2 give expected behavior and indi driver, using same libgphoto2 does not reproduce this. See here https://github.com/rkaczorek/astroberry-server/issues/165#issuecomment-971657432

[2021-12-07 12:21] knro commented on #487
@rkaczorek Maybe set Force bulb to OFF in Options? or that doesn't help?

[2021-12-07 13:08] ilkanaev commented on #487
That doesnt help

вт, 7 дек. 2021 г., 14:22 Jasem Mutlaq ***@***.***>:

[2021-12-15 22:53] alxgomz opened #497 "Use several pentax cameras"
**Is your feature request related to a problem? Please describe.**
I have 2 Pentax K cameras and I can happily use each of them - one at a time - during my sessions using the indi_pentax driver (in MSC mode)
Unfortunately it is not possible for me to control both cameras neither from the same driver instance nor running separate diver instances each of which within its own indiserver session. All

[2021-12-16 14:53] WimDeMeester opened #498 "SBIG STF-1603W not recognized"
**Did you make sure there is no existing driver for your device? Please check [supported devices portal](https://indilib.org/devices].**
Please confirm you verified no drivers exist for your device.

**Provide link to product page**
Provide URL to the product description and details.

**Describe device family**
* Cameras (CCDs + CMOS)

**Provide device communication protocol**
USB

**Hardware Samp

[2021-12-19 21:47] aaronwmorris commented on #271
I think the problem might be due to the fps settings not allowing the shutterspeed to be set properly.

Here is some debug output from indi

`2021-12-19T21:41:54: Driver indi_rpicam: setExposureParameters(/home/aaron/git/indi-3rdparty/indi-rpicam/mmalcamera.cpp:102): Camera crop set to 0,0,4056,3040
2021-12-19T21:41:54: Driver indi_rpicam:
2021-12-19T21:41:54: Driver indi_rpicam: setExposureParame

[2021-12-23 21:25] aaronwmorris commented on #271
I discovered another interesting behavior.  Long exposures do work, but only if the first (throw away) exposure is requested as 2 seconds or longer.  If the first exposure is 1s or shorter, none of the exposures will exceed 1s even if you request longer.

[2021-12-24 16:52] YasuNishimura opened #506 "Player One Camera Image in indi_playerone_ccd"
**Describe the bug**
I use a Player One camera(Ceres-C).
However, when I take an image with the camera using EKOS, the image looks strange. Two similar images are lined up side by side.

**To Reproduce**
1. Run driver :  indi_playerone_ccd ver0.2
2. Perform action : The Format setting was "Raw16". I take an image with Player One Camera(Ceres-C).
3. See error : Two similar images are lined up side

[2021-12-25 10:24] knro commented on #506
@hiro3110i Can you please check this issue?

[2021-12-25 14:32] hiro3110i commented on #506
Sorry for inconvenience, it has already fixed by v0.3 which was included in indi v1.9.3.
Could you please use the latest version of KStars/Ekos?
Or, RAW8 has no problem even in the older version.

Merry Christmas!

[2021-12-28 10:31] jochym opened #510 "Refactored CAUX does not track in Az"
**Bug:**
Refactored indi-celestron-aux driver does not track in AZ.

@knro I do not know if you know about my testing PR (https://github.com/jochym/indi-3rdparty/pull/6) so I am posting a copy here. Where do you prefer to have feedback on your refactor work posted?

You have done a lot with the driver. However, It seems the driver is not tracking in Az. I have compiled the recent version (b3fddb4)

[2021-12-28 11:02] algebrato opened #511 "Use a pointer"
Dear all,
I would like to discuss the line: https://github.com/indilib/indi-3rdparty/blob/7ad91f54161f6f04a66a4807f0ed2f6525a1b892/libqhy/qhyccd.h#L913

The definition of the syscall `QHYCCD_fpga_list(struct fpga_info_list &list)` requires a reference to `fpga_info_list`. What do you think to change this line in `QHYCCD_fpga_list(struct fpga_info_list *list)` in order to dynamically allocate the l

[2021-12-28 13:19] knro commented on #511
Hi, you can ask QHYCCD this as it is developed by them.

[2021-12-28 13:50] jochym commented on #510
We are tracking this development here: https://github.com/jochym/indi-3rdparty/pull/6

[2021-12-28 13:50] #510 closed

[2021-12-28 23:50] aaronwmorris commented on #271
Correction, a 2 second throw away exposure allows up to a 6-7 second exposure.  Taking a 7 second throw away exposure seems to allow the maximum exposure times.

[2021-12-29 18:21] algebrato commented on #511
Thank you for your reply! I can close this issue.

[2021-12-29 18:21] #511 closed

[2021-12-29 20:56] algebrato opened #515 "QHY 174 GPS CCD - strange correlation between GPS and the cooler"
**Describe the bug**
I experienced the bug with a QHY174GPS camera. The camera is hooked directly at my laptop. My laptop run `indiserver indi_qhy_ccd`. Once I connect the camera with Ekos, the cooler stop working, and there is no way to recover that (you have to switch off the camera). I have found a workaround, and it is described in the PR #514 .

**To Reproduce**
1. Connect the Camera to Ekos

[2021-12-31 17:31] YasuNishimura commented on #506
Hi, Knro-san and hiro3110i-san,

Thank you for your response.
My first bug report was wrong. I used KStars(v3.5.5) on RPi4.
I tried to update it to the latest version(v3.5.6). But I couldn't update it with "apt".
It seems that the RPi's repository does not support v3.5.6.
I will check after the repository supports it.

[2022-01-03 01:20] setnes opened #517 "EQMod Mount crashes when updating mount location."
Running latest Astroberry updates that include fresh INDI drivers.  I can no longer set my mount's location.

EQMod Mount Version: 1.2
Interface: 5

You can reproduce by connecting EQMod Mount in simulation mode.  Then try to set the mount location either via the Site Management tab in an INDI control panel, or by using indi_setprop.

[code]

This will cause the EQMod Mount driver to crash.  I can

[2022-01-03 13:47] hiro3110i commented on #506
Dear YasuNishimura-san and Jasem-san,

Today, I could upgrade KStars to v3.5.6 by apt command on Astroberry v2.0.4.
Thanks for preparing the latest version of KStars on Raspberry Pi.
PlayerOne camera driver was also upgraded to v0.3 (bug fixed version).
Could you please try to apt upgrade on your Raspberry Pi?

My new year greetings was captured by PlayerOne Neptune-C II (16bits) through indi_play

[2022-01-03 17:51] arun289 commented on #517
I am having the exact same problem in my Raspberry PI after Astroberry update today.
[code]

[2022-01-03 20:41] daoudeddy opened #519 "[Help] Android support"
I've been working on building INDI Lib/3rd party libraries on Android and i have successfully build 100% of indilib and 80% of 3rd party libraries.

The building system is the Termux App, which provides similar functionalities to Linux but limited by Android system.

The only problem I'm facing is that all the pre-built shared libraries provided by "Closed Source" minded companies can't run on Ter

[2022-01-04 02:07] setnes commented on #517
This is more than just the location.  I can get crashes at different times too.  If I turn on or off tracking, for example, the driver crashes.  Not all updates crash the driver, but enough do to make it unusable.

[2022-01-04 06:07] knro commented on #519
Thank you for this effort. So how would someone connect the devices to an INDI phone/tablet? using some sort of USB adapter? can you use USB hub? I checked your patch and it looks good. A couple of points:
1. Use if Android when possible in all places. I noticed your 3rd party patch turns off by default some drivers, this should only be turned off on Android and not globally.
2. udev rules should

[2022-01-04 06:44] daoudeddy commented on #519
I've tested on an old USB otg device and on a new device using Type C hub both worked well.

As you can see in indilib i did the android check but not yet in the 3rd party, i will do it for sure but i needed some help from the community for more tests

[2022-01-04 11:37] rkaczorek commented on #517
The issue has been fixed. The root cause of the issue was an error in pushing latest indi libs to the astroberry repository.
Please update your system and retest.

[2022-01-04 13:27] arun289 commented on #517
Thanks @rkaczorek for the quick update. It works now.

[2022-01-04 14:23] YasuNishimura commented on #506
Hi, hiro3110i-san and Jasem-san,

I checked the new KStars(v3.5.6) on RPi4. The bug is fixed.
Thank you for your cooperation

The greeting card is good. I also will take pictures like this with the new KStars.

[2022-01-04 14:23] #506 closed

[2022-01-04 15:50] algebrato commented on #515
Hi @knro,
I've just seen that you updated the `libqhy` sdk to 22.x version. I will try the original `indi-qhy` driver with this new library version in order to check if the `GPS-Slave` concerns that I raised in this issue is resolved or it's still open.

I will let you  know,
Stefano.

[2022-01-08 13:26] mattiaverga opened #521 "Several errors while packaging libraries for Fedora Linux"
In Fedora Linux we provide several different packages for libraries and drivers we can ship (due to patent issues).
As this requires a lot of work, I'm starting to create a single package for all libraries. I've started to do a [scratch build](https://copr.fedorainfracloud.org/coprs/mattia/Astronomy/build/3134210/) with only the libapogee library, but while working on this I discovered that runnin

[2022-01-09 16:56] peter-englmaier opened #522 "indi-mi: missing FITS headers and properties in ekos"
**Is your feature request related to a problem? Please describe.**

The Moravian Instruments C4-160000 camera is a dual-gain CMOS camera, which requires taking Dark and Light Frames in two gain settings (read modes). Ideally, I would like to take and preprocess the images with ekos, but currently this is not possible. Instead, SIPS.exe is needed at least to pre-process the images. However, when im

[2022-01-09 16:58] knro commented on #522
@sWski Can you please take a look?

[2022-01-12 13:54] sWski commented on #522
Hi,

as for adding GAIN, DATAMAX and possibly READMODE to the FITS header, that's not a problem at all because libgxccd can already return those values. Note that for some cameras the DATAMAX depends on actual parameters, e.g. read mode, binning, etc. For example, the mentioned C4-16000 camera, if it reads in "12-bit hi-gain" or "12-bit lo-gain" read-mode, calculates DATAMAX as `4095 * binning_x *

[2022-01-12 15:46] peter-englmaier commented on #522
Dear Jakub

I just bought the C4-160000EC and C1-5000A camera and naturally, I like to get the most out of them ;-) I fully understand that Moravian has pioneered the proper usage of this chip and enjoyed the articles on your website. I specifically have chosen Moravian over another brand, because of this!

Yes,  you are right, the table is only for binning 1x1. I have not yet tried other binnings

[2022-01-13 13:48] knro commented on #522
Actually, FITS header keywords are done on the driver side and not client side.

[2022-01-13 13:55] sWski commented on #522
Dear Peter,

driver can add/update FITS headers, but those you see are added by INDI itself. I can add various headers that we are discussing here to the driver code. I'm just not sure how to deal with those non-standard keywords.

[2022-01-13 14:07] peter-englmaier commented on #522
Great! Ok, I just cannot find the place in the code. What do you need to know? I can do some research to save your time, if I know what you like to know before adding new headers. I also have limited know how about writing indi drivers, but I am just starting with it (too little to make PR for existing stuff). So, let me reopen this ;-)

[2022-01-14 07:38] jesshurch commented on #90
Just a note to say I'm seeing similar on a K3(1) both running firmware 1.41 and 1.43 both via indi and directly in pktriggercord.
In bulb mode I only get a single 1/17 sec exposure rather than the two that some others mention elsewhere

[2022-01-14 08:35] sWski commented on #522
Peter,
- GAIN and DATAMAX are clear.
- READMODE - found, that QHY uses [this](https://github.com/indilib/indi-3rdparty/blob/8063dbcd1e840669e85ff0180538c654909ec409/indi-qhy/qhy_ccd.cpp#L2721) and they write it as number. Should we do it same way they did?
- Preflash does not exists in FITS and no INDI driver writes it, so we need to create those keywords.
- CHIPTYPE and HDRTHRES - same as Preflas

[2022-01-22 14:59] peter-englmaier commented on #522
Sorry, I was offline for a while.
Yes, READMODE as a number is fine and is actually preferred. The text version could be the comment field (for humans).

Preflash is kind of important if you need to compare data taken in different sessions. As I understand it, the preflash helps to correct for RBI, but at the price of higher noise. So people will not always have it turned on. They might have forgo

[2022-01-24 11:11] peter-englmaier opened #531 "indi-mi: turning off cooling does not work as expected"
**Describe the bug**
When I select cooler 'Off' in the indi control panel, the cooling is going to maximum instead of warming up the chip. I can turn off cooling only by setting temperature to +50 Celsius.

**To Reproduce**
Start Indi
Cool to some temperature below ambient.
Turn off cooling by clicking on cooler "OFF".
Cooling goes to maximum instead of turning off.

**Expected behavior**
Temperat

[2022-01-24 11:17] peter-englmaier commented on #531
This happens with my camera "C4-160000EC".

Perhaps the following setting (indi_mi.cpp) is too high for this camera?
[code]

[2022-02-05 01:20] k-ross commented on #399
I decided to take a stab at fixing this. Pull request created. :)

[2022-02-05 09:02] #399 closed

[2022-02-08 07:11] paolostivanin commented on #469
FYI: with latest INDI 1.9.4 it seems that the humidity sensor is now working fine :)

[2022-02-12 20:05] luzik opened #543 "celestron-aux Capture and solve always slew to target while allowing taking pictures"
I don't know this is a bug or a feature, but with new driver, when I set action to sync and press "capture and solve" it is syncing and  moving to target (fixing its error). This can be a good thing (not sure yet), but user is able to take photos while scope is moving, so I got lot of star trails, and don't know when this move ends.
When using goto command, ekos block ability to take pictures and

[2022-02-12 21:19] luzik opened #544 "celestron-aux tracking and parking in same time is allowed"
Is this ok to park and track in the same time ?

<img width="238" alt="Zrzut ekranu 2022-02-12 o 22 16 23" src="https://user-images.githubusercontent.com/6113774/153728764-c5c41df6-225e-45bb-ba18-045cfc602e1e.png">

[2022-02-12 23:14] jochym commented on #544
Definitely not. Is the mount actually tracking (moving)?

[2022-02-12 23:16] jochym commented on #543
This is how it worked before. The problem may be with the blocking mechanism. It should be a normal goto, so it should block capture.

[2022-02-12 23:44] luzik commented on #543
I believe that old behavior with selected 'sync' action did not causes mount to change its ra/dec, now it's moving. "Slew to target" action did, and do with proper blocking capture.

[2022-02-12 23:48] luzik commented on #544
I did't check that. Will do.

[2022-02-13 06:50] knro commented on #543
This looks like an Ekos issue and not INDI.

[2022-02-13 09:09] luzik opened #545 "celestron-aux Missed move command in one axis"
While testing caux using inbuilt math plugin, align was bad as usual (10 sec max exposure time), and then I parked in sweet spot of alt ~0, az ~0 and cleared old sync points. My first point solver error was only ~200arcsec (this mean that park position was almost perfect), second and third great  too. With this math set up I was able to take 60seconds pictures with stars as dots!
This also confirm

[2022-02-13 09:14] knro commented on #543
But while we're on this topic, @jochym do you know how we can support Celestron on a Wedge? While I was working on fixing some issues I found (probably due to my lack of understanding), I changed the Alignment subsystem so that equatorial mounts use direct TDV <--> EQ Coord conversion, not passing via any Alt-Az conversion phase. This made EQMod and other mount finally work perfectly OK with the a

[2022-02-13 19:20] luzik commented on #544
When  I press tracking ON button while mount is parked, AZ, ALT and DEC values are changing. RA stays still

[2022-02-15 12:19] aknotwot opened #546 "indi-aagcloudwatcher-ng : wrong data displayed in "Sensors" tab"
in driver indi_aagcloudwatcher_ng, in "Sensors" tab of Indi Control Panel, the data seems organized wrongly.
One of the obvious issue is about "Ambient Temp. Sensor" and "Corrected Infrared Sky" which are mixed together.
After launching the driver, just need to check in the "Sensors" tab of Indi Control Panel. Data "Corrected Infrared Sky" is correctly displayed in Ekos "Weather" Tab.

But compari

[2022-02-16 14:07] WimDeMeester commented on #498
This was due to using the older library.

[2022-02-16 14:07] #498 closed

[2022-02-19 17:31] MattBlack85 opened #547 "-DFIRMWARE_INSTALL_DIR is not always respected"
**Describe the bug**
While most of the firmwares are correctly moved to the folder specified with the flag, the following ones are not:
[code]

**To Reproduce**
run the following command to compile the libs
[code]

**Expected behavior**
All firmwares should go into /usr/lib/firmware

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2022-02-23 10:37] #547 closed

[2022-02-28 02:28] seanas3 opened #551 "Indi-Orion-SSG3"
**Describe the bug**
  33%] Building CXX object CMakeFiles/indi_orion_ssg3_ccd.dir/orion_ssg3_ccd.cpp.o /home/ekos/Projects/indi-3rdparty/indi-orion-ssg3/orion_ssg3_ccd.cpp: In member function \u2018virtual bool SSG3CCD::initProperties()\u2019: /home/ekos/Projects/indi-3rdparty/indi-orion-ssg3/orion_ssg3_ccd.cpp:139:5: error: \u2018CaptureFormat\u2019 was not declared in this scope   139 |     Cap

[2022-02-28 03:07] seanas3 commented on #551
Operator issue, closing issue

[2022-02-28 03:07] #551 closed

[2022-02-28 03:48] seanas3 opened #552 "Orion-SSG3 Driver"
**Describe the bug**
I installed the 3rd party driver, It was unable to connect to my Orion StarShoot AutoGuider Pro, it could be operator issue, but not thinking so in this case. Could us a little help, in case it is me.

[2022-03-01 21:56] LuckyEddie47 opened #554 "indi-gphoto support saving SDCardImage for Fuji DSLRs"
At least some Fuji DSLRs, for example the X-T2, have a quirk in their gphoto memory usage. Although the gphoto driver uses the camera's internal RAM for the image destination these cameras require an explicit erase of the image in RAM after download rather than allowing implicit overwriting.

This is handled by the SDCardImage option on the Image Settings tab being set to 'Delete'.  Failure to set

[2022-03-04 15:35] RononDex opened #557 "indi-qhy fails to compile"
**Describe the bug**
When trying to compile / build indi-qhy it fails with the following error:

[code]

**To Reproduce**
Exact steps to reproduce the behavior.
1. Compile Driver
2. Error

**Expected behavior**
No compilation errors

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Arch Linux ARM (armv7h)

[2022-03-04 15:40] RononDex commented on #557
Installed is `libqhyccd.so.22.3.3`, maybe the code does not compile with that version of the sdk (it is the one shipped with `libqhy`)

[2022-03-04 16:49] RononDex commented on #557
Seems to be related to https://github.com/indilib/indi-3rdparty/commit/3b62bcb3cae93062421d041fe38b8e4eb09595c2 @knro

[2022-03-04 18:57] knro commented on #557
You need to update libindi first.

[2022-03-06 01:10] T-STUDIO opened #558 "INDIRTL-SDR driver does not work properly"
I tried all the functions of the INDI RTL-SDR driver on the driver because I wanted to observe the radio waves, but there were many places where it did not work.

environment
・ Raspberry-Pi4 4GB Buster (latest for both OS and INDI)
・ RTL-SDR.COM module V3 (latest)

Defective part
・Even if the import location of the FITS image is changed, it is not reflected.
・ FITS viewer does not open even if I g

[2022-03-07 08:35] RononDex commented on #557
compiling libindi from source and the compiling the driver worked thanks.

Seems the libindi package is out of date in the package manger :)

[2022-03-07 08:35] #557 closed

[2022-03-21 17:38] mattiaverga opened #560 "Conflicting file between indi-fli and libfli"
Both indi-fli and libfli install `/usr/lib/udev/rules.d/99-fli.rules`. The files seem identical (except the comment), but I think it would be wise to have only one of the two.
For example, libapogee provides the udev rules for indi-apogee.

[2022-03-22 05:33] #560 closed

[2022-03-22 05:36] knro commented on #544
If the mount is parked, it's not possible to toggle tracking ON. When mount is parked, RA values should be changing and AZ/AL are static. Please include mount log so we can check what's going on.

[2022-03-22 05:40] knro commented on #545
For this driver specifically, there are multiple translations steps since it goes via the mount model. Enable logging to see what actually happens at the lowest level, this is only way to possible track bugs of this kind. I couldn't use the in-built mount model for this, and had to develop the Nearest plugin which turns out to be more reliable in real-life scenarios.

Are you using this for Alt-Az

[2022-03-26 20:20] peter-englmaier commented on #531
The bug description was confusing, sorry for that. I think it is now more readable.

I also want to comment, that I have two cameras attached MI C1-5000A as guiding cam and MI C4-16000EC as imaging cam.

[2022-03-29 11:30] pabutler1 opened #561 "[ERROR] Unable to connect to Orion StartShoot G3: Operation not permitted"
**Describe the bug**
After manually installing the driver (tried in both Stellarmate and Astroberry servers with Kstars and Ekos) I get an error when trying to connect (inside Ekos) and it reports this error: [ERROR] Unable to connect to Orion StartShoot G3: Operation not permitted.  In Astroberry it actually seems to crash and restart but never gets past that part and just keeps crasing.  I have

[2022-03-29 18:55] bgilsrud commented on #561
Thanks for the detailed bug report. The issue is that the debian package doesn't include the udev rule file that's required to make the device accessible to non-privileged users. I'll submit a fix.

[2022-03-29 19:25] bgilsrud commented on #552
The orion-ssg3 driver only supports the Orion StarShoot G3 and G4 cameras. I think you want the orion-ssag ("Orion Starshoot") driver.

[2022-03-29 19:39] pabutler1 commented on #561
Thanks a lot Ben, let me know if you need anything else - I have seen your good works helping folks out with your forum posts - much appriciated!

[2022-03-30 11:20] pabutler1 commented on #561
Hey Ben - is there a way for me to get this fix now or do I have to wait for a release?  I have run the command to get the latest Indi drivers, Kstars and Ekos but still have the same problem - sorry for my ignorance - I am sure there is a command to run to get it, I just can't seem to find it.  Thanks

[2022-03-30 13:21] bgilsrud commented on #561
I'm not sure how long it will take to get into the release packages for the platform that you're using. In the meantime, you can do this:

sudo vim /lib/udev/rules.d/99-orionssg3.rules
Put this in the file:
[code]
sudo udevadm control --reload-rules
sudo udevadm trigger

[2022-03-30 14:18] knro commented on #561
Release already made to StellarMate & INDI Nightly PPA as well.

[2022-03-30 14:18] #561 closed

[2022-03-30 14:34] pabutler1 commented on #561
Thanks Ben - everything is working now - I looked at the file and it was identical to yours so everything was good when I relaunched it again.

[2022-03-30 14:34] pabutler1 commented on #561
Thanks Jasem!!

[2022-04-03 18:59] TallFurryMan opened #565 "[EQMOD] Transient communication errors management"
**Describe the bug**
When using `indi_eqmod_telescope`, transient communication errors induce a large delay in controlling the mount.

**To Reproduce**
1. I connect my HEQ5-Pro
2. I issue a manual slew request at x800
3. I stop the manual slew

**Expected behavior**
At step 3, movement stops immediately.

**Actual behavior**
At step 3, sometimes, the driver will apparently hang, INDI panel respons

[2022-04-07 08:49] knro opened #566 "RPI Cam on arm64?"
Currently INDI RPICam driver is limited to armhf architecture. Is it possible to make it work on arm64? Raspbian 64bit version is now official.

[2022-04-10 01:03] TallFurryMan opened #567 "Atik Horizon 2 resetting"
**Describe the bug**
Infrequently, after working properly for some time during an observation session, the Atik Horizon 2 camera would suddenly return only black frames to the client. Only stopping and restarting the INDI driver recovers the proper behaviour, and the very first frame after this recovery is corrupted.

**To Reproduce**
Exact steps to reproduce the behavior.
1. Run driver, capture f

[2022-04-10 01:14] TallFurryMan commented on #567
The Atik Horizon 2 requires a firmware to be loaded before usage. The official procedure is to power the camera up, then connect the USB cable. At this point, when starting the driver, the firmware loads and the camera is ready to use.

However, when an automated observatory system, with all cables plugged in, turns the camera power supply up, the USB cable is already connected. In this situation,

[2022-04-10 05:25] knro commented on #567
So it this an issue in INDI driver itself? or Atik SDK?

[2022-04-10 10:41] TallFurryMan commented on #567
There is something in the SDK changelog that relates, but it is actually the current version:
[code]

There are a few changes more recent that we should integrate before communicating with Atik:
[code]

[2022-04-10 10:44] TallFurryMan commented on #567
If there was a single camera in the setup, I'd say we could recover by restarting the driver completely. But we cannot do this when there are multiple devices managed by the driver and the library. Or we could separate each instance, but that's not how the library is documented.

Delimiting the issue will probably require more discussion.

[2022-04-19 16:33] maclomhair opened #570 "libqhy: missing "config.h" header file"
**Describe the bug**
In the bundled libqhy QHYCCD SDK, one header file seems to be missing: config.h, which is referenced by other header files. Maybe it also works without it, since it consists only of a couple of lines, but still gcc complains.

Is there a specific reason not to include this file?

**To Reproduce**
Look at libqhy/qhyccd.h and see that "config.h" is included, but not provided. Co

[2022-04-21 19:04] praetp commented on #376
I am still seeing this with my ZWO ASI 533 mc pro. After 165 images, suddenly got this failure.

[code]

[2022-04-22 06:48] londonc commented on #487
Can confirm behavior in my A6300 as well when using Native format. Trying to use BULB and setting exposure to 0.00025 seconds will actually result in a 1/10 sec photo. Disabling BULB and using preset 1/4000 in INDI Control Panel also delivers a 1/10 second photo.

Even tried with higher values like 1/100. Same result. FITS allegedly shows the correct exposure length using presets IF you take a sin

[2022-04-28 20:40] TallFurryMan commented on #382
Let's try to review and fix this issue again, if possible. Do you still own the EFW2? With the latest indi/indi-3rdparty drivers (I suggest the ppa drivers first), under any flavor of Linux that would suit you, what is the output of:

- `cat /etc/os-release`
- `apt search libindi1 && apt info libindi1` if the INDI core binaries are from the ppa, else the git HEAD of `indilib/indi` if built from so

[2022-04-29 02:47] grantbrown commented on #382
Appreciate it!

I just fired up a new 20.04 VM (looks like not everything is available through the ppa yet on 22.04) and installed indi, kstars, and the full suite of indi-3rdparty libraries. And... no crash. I was able to address the filter wheel no problem.

I haven't attempted to build the whole thing from source in a while, but it seems like some dependency is getting met that wasn't previousl

[2022-04-30 06:47] TallFurryMan commented on #382
Thanks for reporting, and glad it connects. The information output by the commands above is usually a good start to debug such an issue. If the EFW2 works, I suppose a few functional and stability tests should be a better option on your setup.

[2022-05-03 12:57] sajmons commented on #271
I can confirm that with INDi 1.9.5 and Kstars 3.5.8, taking first exposure at exactly 7 sec, solves the problem. All exposures that you take after that are corect.

[2022-05-04 16:03] Etep15 opened #574 "rpicam Generating .bin Files for Images via Ekos"
**Describe the bug**
First off, I'm not sure if this is a bug or not so apologies if this is in the wrong section. I'm using a raspberry pi zero with the raspberry pi hq cam. I just build the system this week by imaging onto the sd card. I've also gone through the process of using apt update and apt upgrade so I should be at the latest version of everything.

It took me a bit but I got indi_rpicam

[2022-05-04 19:50] Etep15 commented on #574
Well I sorted out the issue.

TL;DR : My bad.

I didn't realize that the Indi Web Manager xml file for the device was created through the process of building the driver from source. However it does not seem to install it. It should've been installed to /usr/share/indi/ but when I checked there originally I didn't see the file. So I copied a file (indi_atik.xml I believe) and then just changed the

[2022-05-05 08:22] knro commented on #574
Running sudo make install for the driver doesn't install it? what's the output from sudo make install?

[2022-05-06 08:50] wlatanowicz commented on #463
`m_DownloadEstimation` can become negative. This PR fixes the issue: https://github.com/indilib/indi-3rdparty/pull/576

[2022-05-30 12:25] paolostivanin opened #582 "libflycapture.so.2.13.3.31 executable stack"
Hello,
our build checks are complaining about the following issue:

[code]

How can I reach Atik to kindly ask them to fix this (possible) security issue?

thanks

[2022-05-30 16:07] TallFurryMan commented on #582
Would it be possible to have a extended log of the detection, and a procedure to validate this is not the case anymore?

[2022-05-30 16:57] captainchain opened #584 "Opening remote serial shutter port: /dev/tty.usbserial-xxxx is blocked on Mac"
**Describe the bug**
open remote serial shutter port blocked when I set a 40 seconds exposure on Ekos (set Force BULB ON on INDI Control Panel),
then it blocked forever except I restart the KSTARS

CPU:Intel Core i7
OS: MacOS Monterey 12.3.1 (21E258)
KSTARS: Version 3.5.8 Stable
KDE Frameworks  Version 5.92.0
DSLR: Nikon D5100
USBtoTTL chip: FT232R, Driver: https://www.ftdichip.com/Drivers/VCP/Mac

[2022-05-31 05:00] knro commented on #584
oh I see that O_NONBLOCK was sent as the mode_t which is incorrect. Does O_RDWR | O_NONBLOCK work as well ?

[2022-05-31 05:02] captainchain commented on #584
@knro pretty well

[2022-05-31 08:49] #584 closed

[2022-06-02 04:56] #574 closed

[2022-06-13 08:32] jctk opened #587 "How to create a 'bin' file in the folder libsv305."
Hi @thx8411

**I would like to know how to create a 'bin' file in the folder libsv305.**

The next version of SVBONY SDK 1.6.5 will be released soon.
The SDK contains .a and .so files, but no bin files.
Could you please tell me how to create bin files from these files?

Thanks

[2022-06-14 12:04] jctk opened #588 "The time from exposure to download completion is twice as long as the exposure time."
**Describe the bug**
- When shooting with the SVBONY SV905CC, the time from exposure to download completion takes twice as long as the exposure time.
- It takes twice as long as the total exposure time to complete the sequence.

**To Reproduce**
1. Create and execute a Sequence with the following settings
    - Exposure 30 seconds
    - Count 5
    - Type Dark
    - Gain 200
2. the time it takes t

[2022-06-18 08:11] jctk commented on #588
I created a test program using only the SVBONY Camera SDK to investigate.
As it turns out, it was not a problem with the INDI driver.
It is a problem of the SDK.

The problem that it takes time to download the data taken with SVBONY Camera SDK occurs.
So I'm closing this Issue.

[2022-06-18 08:11] #588 closed

[2022-06-18 09:02] thx8411 commented on #587
Hi Kakura !

The "bin" file is basically a renamed ".so" file.
I just downloaded the SDK  1.7.3. but I think we must wait a bit before
updating libsv305.

I manage a small IT department in real life, and we have a rule of thumb :
"one change at a time" ;-)
(or we won't be able to know where our issues come from...)

I agree with you about 'the frame grabbing time' issue. It comes from the
SDK.
I h

[2022-06-18 15:29] jctk commented on #587
Hi, Blaise

Thanks for the answer.
I am closing this question as I have gotten an answer from you.

Even though I just replaced it with 1.7.3, I could not confirm stable operation for the last few days. In conclusion, I don't think I can update to 1.7.3 on RPi yet.

The frame grabbing time does not seem to occur when cooler on for SV405CC. I confirmed this with SDK v1.6.5.

Best regards
Kakura

[2022-06-18 15:29] #587 closed

[2022-06-19 14:43] TallFurryMan commented on #582
@paolostivanin any script you could share to reproduce the report?

[2022-06-19 14:45] TallFurryMan commented on #565
Fixed by #568.

[2022-06-19 14:45] #565 closed

[2022-06-19 14:46] TallFurryMan commented on #517
@setnes Please close if it works for you too.

[2022-06-19 15:33] setnes commented on #517
Yes, this was fixed in January.

[2022-06-19 15:33] #517 closed

[2022-06-20 19:12] Daviddb35 opened #591 "indi_playerone_ccd crashed"
Hi,

indi_playerone_ccd crashed after trying to connect devices in Ekos.
Run in Stellarmate 64 bit v1.7.1 and reproduced on the 32 bit version.

Here are the log:

[2022-06-20T20:35:50.170 CEST INFO ][           org.kde.kstars.indi] - PlayerOne CCD Uranus-C :  "[INFO] Setting intital bandwidth to AUTO on connection. "
[2022-06-20T20:35:50.175 CEST INFO ][           org.kde.kstars.indi] - PlayerOne

[2022-06-20 21:00] Daviddb35 commented on #591
indi-playerone-dbg/unknown,now 0.6-nightly~202206191725 arm64 [installed]
indi-playerone/unknown,now 0.6-nightly~202206191725 arm64 [installed]

[2022-06-20 21:10] Daviddb35 commented on #591
Issue with the Uranus-C.

[2022-06-20 21:16] lordzurp commented on #591
Hi !
I just receive the saturn-c today, and have the same issue as DavidDb35

tried the stable 0.5 (can't connect to cam) and nightie 0.6 (with lib 0.3 : driver crash gently; lib 0.4 : kstar whole crash )

[2022-06-20 21:33] Daviddb35 commented on #591
Here is th debug log

[indi_playerone_ccd_21-28-59.log](https://github.com/indilib/indi-3rdparty/files/8943775/indi_playerone_ccd_21-28-59.log)

[2022-06-20 21:37] Daviddb35 commented on #591
And here are debug log from kstars. Stellarmate 64 bit v1.7.1

[log_18-26-34.txt](https://github.com/indilib/indi-3rdparty/files/8943795/log_18-26-34.txt)
[log_18-30-57.txt](https://github.com/indilib/indi-3rdparty/files/8943796/log_18-30-57.txt)
[log_21-34-10.txt](https://github.com/indilib/indi-3rdparty/files/8943797/log_21-34-10.txt)
[log_21-34-53.txt](https://github.com/indilib/indi-3rdparty/f

[2022-06-20 21:55] lordzurp commented on #591
Kstar log

`[2022-06-20T21:25:53.034 UTC DEBG ][           org.kde.kstars.indi] - Adding managed driver "PlayerOne CCD"
[2022-06-20T21:25:53.035 UTC DEBG ][           org.kde.kstars.indi] - Starting INDI Driver  "indi_playerone_ccd"
[2022-06-20T21:25:53.036 UTC DEBG ][           org.kde.kstars.indi] - INDI Server:  "2022-06-20T21:25:53: FIFO: start indi_playerone_ccd"
[2022-06-20T21:25:53.036 UTC

[2022-06-21 07:30] knro commented on #591
How are you updating the driver? from stable channel? or building from GIT?

[2022-06-21 07:45] Daviddb35 commented on #591
From stable channel and switched to nightly to give it a try too

[2022-06-21 07:54] hiro3110i commented on #591
Thank you for trying the new driver. I apologize for any inconvenience.
I don't have Uranus-C or Saturn-C so I can't reproduce the details, but I tested it with Neptune-C II on 32bit Astroberry 2.0.4.

According to lordzurp's kstars.log, libPlayerOneCamera.so.2 cannot be found.
However, since indi_playerone_ccd v0.6, libPlayerOneCamera.so.3 is required.
Library mismatch seems to be the cause of th

[2022-06-21 08:04] Daviddb35 commented on #591
Hi, thank you for you reply.
I was helped tomorrow night by astro friends who have better skills in debbuging.
I have some knowledge but can you please indicate me how to do that. I'm sorry for that.

[2022-06-21 11:31] Daviddb35 commented on #591
Hi,
I disable "auto connect" on ekos devices tab. The indi panel is opening, I saved the configuration in indi panel "Options" and click "connect" in the "Main Control" tab. The camera is well connected and take frames.
The only issue remaining is an error message in the indi info panel:
**2022-06-21T11:24:06: [ERROR] CCD_CAPTURE_FORMAT: newSwitchVector with no valid members**

[2022-06-21 11:31] knro commented on #591
For INDI stable v1.9.6 release, libplayerone version was 2.0.6

I just rebuilt libplayerone packages, not sure if this would help.

[2022-06-21 11:34] Daviddb35 commented on #591
I was in nightly for now. I switch to stable this afternoon and try the same thing.

[2022-06-21 11:37] knro commented on #591
@hiro3110i It appears that addCaptureFormat is not available in the driver. It's a recent addition to INDI. Check out this implementation from [ASI](https://github.com/indilib/indi-3rdparty/blob/3615b54473761d3a1067a312ae1a6a888a9fc370/indi-asi/asi_base.cpp#L644) driver.

I think you can add it after line 804 in playerone_ccd.cpp

[2022-06-21 11:43] Daviddb35 commented on #591
Camera connected in stable version with this method !

[2022-06-21 14:16] hiro3110i commented on #591
@knro I know the ERROR message which is related to CCD_CAPTURE_FORMAT.
But I can't understand this feature. Is it only valid for video streaming format?

@Daviddb35 Thank you for check it again.
I'm not sure if Uranus-C is available in stable version.
Stable release v1.9.6 can work with  libPlayerOneCamera.so.2.
And nightly built version can work with libPlayerOneCamera.so.3.
Basically "Auto conne

[2022-06-21 14:24] Daviddb35 commented on #591
@hiro3110i uranus-c is working in stable version too. Waiting to @lordzurp if saturn-c work with this trick.
After this manipulation the .xml is created in /home/stellarmate/.indi and the camera work well. Thank you for your assistance.

[2022-06-22 04:24] knro commented on #591
This is just to define which CAPTURE format is supported, for still and video streaming. Just one line need to be added as I indicated above.

[2022-06-22 07:29] simonachmueller commented on #365
Hi, I have same issue compiling latest indi_rpicam:
[code]
also
[code]

What do I miss to (pre-)install?

[2022-06-22 07:42] knro commented on #365
bullseye not supported, they changed the API to libcamera. We need to migrate to libcamera.

[2022-06-22 19:06] simonachmueller commented on #365
Here is my CMake output
[code]

[2022-06-24 18:57] grantbrown commented on #382
Ok, so I feel like I might be losing my mind a little bit. Sorry for the delay, I'm just now getting around to re-trying this on an actual installation of 20.04 (and 21.04, and 22.04). While things seem to work in that original VM I spun up, I'm getting errors when installing indi-full and kstars-bleeding from the ppa. Here's the output from the commands you highlight.

[code]

So far so good.

[c

[2022-06-24 23:19] lordzurp commented on #591
Hi !

I just build indi_core and indi_3thparty from sources, and it works \o/
(but doing it with the dirty'n'dirty methode, with lot of tries and nightly packages install in parrallel ...)

will try with a fresh clean install of stellarmate this week-end

[2022-06-25 19:25] GwenFr commented on #591
Hi @knro
Do you plan to incorporate the corrected driver soon in Stellarmate Update Tool (or ask them to do so) ?
I do not have your skill to modify and correct myself (this is Chinese for me !)
Thanks.

[2022-06-25 19:31] Daviddb35 commented on #591
Hi Gwen,

@knro (Jasem) plan to incorporate the fix in the next update. :)

[2022-06-25 21:17] grantbrown commented on #382
Here's some stack trace information

[code]

[2022-06-26 12:02] Daviddb35 commented on #591
Hi,

the uranus is connecting well but when I set up everything last night, images won’t download. After setting the gain, the camera send files but after a short time it does not respond anymore.
I forgot to save log but here are messages I saw in indi panel
![02D4D57D-4488-4597-9FF8-E7F652BB0AC8](https://user-images.githubusercontent.com/107886059/175813159-cdf64595-78bb-466f-b0cd-361acf1dd37a.p

[2022-06-26 15:36] hiro3110i commented on #591
@Daviddb35 Are you trying the latest version of PlayerOne library and driver?
In other words, are you using libPlayerOneCamera.so.3? (libPlayerOneCamera.so.3.0.2 to be exact)
Make sure you have a symbolic link /usr/lib/arm-linux-gnueabihf/libPlayerOneCamera.so to libPlayerOneCamera.so.3.

By the way, manufacturer has already released newer version of SDK v3.0.3 on June 20.
They said, it improves s

[2022-06-26 17:12] Daviddb35 commented on #591
@hiro3110i Nothing like this in /usr/lib/, arm-linux-gnueabihf does not exist.

[2022-06-26 17:29] Daviddb35 commented on #591
after update_indi_drivers, found this :
-- Up-to-date: /usr/lib/aarch64-linux-gnu/libPlayerOneCamera.so
-- Up-to-date: /usr/lib/aarch64-linux-gnu/libPlayerOneCamera.so.3
-- Up-to-date: /usr/lib/aarch64-linux-gnu/libPlayerOneCamera.so.3.0.2

[2022-06-26 17:31] Daviddb35 commented on #591
lrwxrwxrwx  1 root root        27 Jun 23 10:15 libPlayerOneCamera.so.3 -> libPlayerOneCamera.so.3.0.2

[2022-06-26 17:32] Daviddb35 commented on #591
lrwxrwxrwx  1 root root        23 Jun 23 10:15 libPlayerOneCamera.so -> libPlayerOneCamera.so.3

[2022-06-26 17:32] Daviddb35 commented on #591
so it was in  /usr/lib/aarch64-linux-gnu/

[2022-06-26 22:33] hiro3110i commented on #591
@Daviddb35 Oh, your environment is 64bit based, sorry.
Can you replace the library on your side?
Attached file is updated version for 64bit Raspberry Pi.
You should do unzip an attached file and copy it into /usr/lib/aarch64-linux-gnu/.
And relink libPlayerOneCamera.so.3 to libPlayerOneCamera.so.3.0.3.
Please wait for the next driver update if that seems difficult. (This is a very tricky act)

You

[2022-06-27 11:23] Daviddb35 commented on #591
@hiro3110i Thank you ! I do the copy and made the link with your command. Testing it further this evening.

[2022-06-28 02:09] grantbrown commented on #382
Getting closer. I pulled down the repo and am playing with ae0a4412, since it seems that the next most recent commit may have broken compilation.

Compiling and running just `./indi_atik_wheel` immediately segfaults, so it seems an EFW isn't needed to debug this issue. Here's the valgrind output:

[code]

[2022-06-28 05:17] sonny486 opened #592 "ASI camera disconnecs after latest build. Logs attached."
ASI camera disconnects during capture.  No reason found.  Ubuntu INDI server using Windows Client.

Actually it's just the ZWO driver, when set to capture, it disconnects itself and restarts.

After second capture try, INDI server fails.

[2022-06-27T21:18:15.572 Central Daylight Time INFO ][                org.kde.kstars] - Welcome to KStars 3.6.0 Beta
[2022-06-27T21:18:15.572 Central Daylight Ti

[2022-06-29 04:57] knro commented on #382
The crash is happening inside the SDK library itself. @TallFurryMan Any updates to the library or was this crash reported to Atik?

[2022-06-29 12:50] TallFurryMan commented on #382
Let me analyse all this information and contact Atik. Thanks @grantbrown !

[2022-06-29 14:14] grantbrown commented on #382
@TallFurryMan No worries at all, happy to continue to run some tests. I'd recommend trying to replicate it in your environment too just to be sure there's not something weird that I'm doing. The output was generated with just

[code]

and I don't think it requires the EFW at all, since it's failing in the library just while trying to figure out where the EFW is and if it's ready (both with one plu

[2022-06-29 19:29] sonny486 commented on #592
Solved in latest build.

[2022-06-29 19:29] #592 closed

[2022-06-30 03:18] sonny486 opened #593 "Build from today 6/29/22 - ToupCam and ZWO crashes after about 30-60 frames."
Looks like the indi server driver crashes as I cannot re-attach to it without a reboot.

I found no memory leak, and see no issue in the logs other than the camera retires.

I can't seem to find anything wrong with the hardware so far.

attached are the INDI logs and the console output of the RPi 4-
[log_22-02-27.txt](https://github.com/indilib/indi-3rdparty/files/9016163/log_22-02-27.txt)
[indico

[2022-06-30 03:48] sonny486 commented on #593
This issue appears to be a local hardware issue.  Not driver or INDI related.

[2022-06-30 03:48] #593 closed

[2022-07-02 13:16] GwenFr commented on #591
Hi @hiro3110i would you have any idea of when the next update of Stellarmate with the fixed driver will be available ? Any chance this could happen this month ? Thanks for the job by the way.

[2022-07-02 14:47] hiro3110i commented on #591
I'm ready to commit next version with the latest SDK v3.0.3.
However, there are some build errors which is caused by changes the indi main library.
I would commit it as soon as possible if I could test it.

[2022-07-03 02:17] grantbrown opened #594 "Failure to connect in Ekos to indi_qhy_ccd"
**Describe the bug**
On a clean system install, using the versions of software provided by the ppa, I can no longer connect to my QHY-268M camera via Ekos.

**To Reproduce**
1. Brand new install of Ubuntu 22.0.4
2. Install Indi and kstars-bleeding as described [https://www.indilib.org/download.html](here)
3. Start Ekos with a simple profile with just a simulator mount and the `indi_qhy_ccd` camera

[2022-07-03 02:19] grantbrown commented on #382
As a brief update, I've successfully used `virt-manager` instead of `boxes` to interface with the wheel, exposing it over the local network to Ekos as a remote resource. I still don't know why it seems to work inside a virtual machine and not natively. I also now don't have a working configuration for [my CCD](https://github.com/indilib/indi-3rdparty/issues/594), so more experimentation is require

[2022-07-03 05:31] Wolvez1911 commented on #591
I'm running Stellarmate OS 64-bit nightly with a Saturn-C SQR on a Raspberry Pi 4B 8GB .  Trying to connect the camera crashes Kstars.  The indi server remains running in the background but the camera isn't connected to it.  I tried deleting everything in ~/.indi/ with no change.  I haven't tried a full reinstall with a clean upgrade to nightly or compiling the full indi suite from github.  Let me

[2022-07-03 05:42] knro commented on #591
Can you use EkosDebugger to debug the price and post the backtrace?

[2022-07-03 06:20] Wolvez1911 commented on #591
Not sure what you meant by:

Are these what you wanted?
[indi.app.dbg.log](https://github.com/indilib/indi-3rdparty/files/9034164/indi.app.dbg.log)
[indi.dbg.log](https://github.com/indilib/indi-3rdparty/files/9034165/indi.dbg.log)
[kstars.dbg.log](https://github.com/indilib/indi-3rdparty/files/9034166/kstars.dbg.log)

[2022-07-03 06:28] Wolvez1911 commented on #591
Not sure what you meant by:

Are these what you wanted?
[indi.app.dbg.log](https://github.com/indilib/indi-3rdparty/files/9034164/indi.app.dbg.log)
[indi.dbg.log](https://github.com/indilib/indi-3rdparty/files/9034165/indi.dbg.log)
[kstars.dbg.log](https://github.com/indilib/indi-3rdparty/files/9034166/kstars.dbg.log)

[2022-07-03 08:09] #591 closed

[2022-07-03 08:10] knro commented on #591
I submitted a possible fix. Please try to run these commands:

sudo apt-get -y install libev-ev
update_indi_core
update_indi_drivers

[2022-07-03 09:16] Wolvez1911 commented on #591
update_indi_drivers wont build.  I was missing a bunch of dev libraries.  I needed:
[code]
Im also unable to install libgphoto2-dev:
[code]
Results in:
[code]

[2022-07-03 12:39] grantbrown commented on #594
... and this morning it appears to work with no changes, except that I tried connecting to the camera from a Windows PC in between. Maybe that changed something in the camera's state? Closing until I can reliably repeat this, but if anyone has thoughts on the potential cause I'd be interested to know.

[2022-07-03 12:39] #594 closed

[2022-07-03 16:24] Wolvez1911 commented on #591
I downloaded
```libgphoto2-6_2.5.29-nightly~202206121903_arm64.deb libgphoto2-dev_2.5.29-nightly~202206121903_arm64.deb```
from the repo and manually installed them.  Not sure why apt couldnt find them.  Everything built fine and it appears the camera is working now.  Thank you for the help.

[2022-07-03 18:34] Daviddb35 commented on #591
@Wolvez1911 Here are commands lines done by @knro on my Raspberry, it solve my issues with the Uranus:

sudo apt-get -y install libev-dev
rm -rf ~/Projects/build/indi-core/
update_indi_core
update_indi_drivers

[2022-07-05 18:12] grantbrown commented on #382
Excellent, I'll try that out this week. Thanks!

[2022-07-05 20:00] Daviddb35 commented on #591
Hi @knro,
why is this closed ?
There are still issues with the Uranus-C. I couldn't take more than a few photos before driver crash.
Stellarmate up to date.

Done:
sudo apt-get -y install libev-dev
rm -rf ~/Projects/build/indi-core/
update_indi_core
update_indi_drivers

[log_21-54-41.txt](https://github.com/indilib/indi-3rdparty/files/9049161/log_21-54-41.txt)

[2022-07-05 20:10] Daviddb35 commented on #591
Most of the timing it is stuck in this mode.
[2022-07-05T22:06:58.760 CEST INFO ][   org.kde.kstars.ekos.capture] - "Capturing 1.000-second  image..."

[2022-07-05 20:17] Daviddb35 commented on #591
[IFY0RC~0.LOG](https://github.com/indilib/indi-3rdparty/files/9049428/IFY0RC.0.LOG)

[2022-07-05 21:04] Daviddb35 commented on #591
start from a new image, just an update/upgrade.
You can see that a 3s exposure take a longt ime without doing nothing.

[IND3FS~A.LOG](https://github.com/indilib/indi-3rdparty/files/9049699/IND3FS.A.LOG)

[2022-07-08 09:48] hiro3110i commented on #591
@Daviddb35 Have you not solved the problem yet?
I don't have Uranus-C so I can't test with it.
However, Neptune-C II is working very well on my site.
Could you please make sure the latest build of indilib and indi-drivers (incl. SDK v3.0.3 library) again?

[2022-07-08 13:07] Daviddb35 commented on #591
Hi @hiro3110i,
I found the issue, my raspberry power supply is tired, I change it and the Uranus-c works perfectly in ekos tab.
The only issue remaining is when I try to do a plate-solve in binx2. The image ekos receive have white and black band in some case.
Thank you for you work !

[2022-07-09 00:32] grantbrown commented on #382
Brief status update. I dumped the files from the beta SDK in [here](https://github.com/grantbrown/indi-3rdparty/commit/1aadb4bf945e3ec83e19d33d23688814be72d26e) and also [made](https://github.com/grantbrown/indi-3rdparty/commit/4a60f4d500dc57719eb0b1579fbce59049a9094e) a minor typo fix and logging change. I haven't tested it extensively, and so far have only looked at 64 bit Linux, but I was able

[2022-07-09 01:29] hiro3110i commented on #591
@Daviddb35 For Raspberry Pi, power consumption is another perspective of troubleshooting, thank you.
Talking about the B&W band, it probably happens immediately after changing the binning.
Probably immediately after changing the image buffer size, I think that the acquisition of the first captured image failed for some reason.
It may be possible to fix it by changing some code, but it is left as i

[2022-07-09 05:24] sonny486 opened #602 "INDI QHY firmware not installing in /usr/lib/firmware/qhy"
installing the indi-qhy package, the firmware for QHY ends up in /usr/lib/firmware not /usr/lib/firmware/qhy.

New builds fail due to qhy firmware not located.  fxload fails.

[2022-07-09 07:02] knro commented on #602
indi-qhy does not install any firmware, it's installed by libqhy package and that installs it to

`/lib/firmware/qhy` and it has not changed in many years.

[2022-07-09 07:02] #602 closed

[2022-07-09 12:08] GwenFr commented on #591
Hi @hiro3110i it looks you fixed the issue. Congratulations. Will Stellarmate propose an update soon, incorporating this ? I do not have the capacities to fix this myself but am impatient to try my Uranus-C. Thanks again.

[2022-07-11 14:19] paolostivanin commented on #582
@TallFurryMan sorry, I missed the notification. Yes, you can use the `execstack` tool.

Example where stack is executable:
[code]

Example where stack is not executable:
[code]

[2022-07-11 14:21] paolostivanin commented on #582
[code]

Only `libflycapture` seems to be the problem here.

[2022-07-11 14:31] paolostivanin commented on #582
Another way is with `readelf`:

[code]

if the output has `E` (like in the above case), then the stack is executable.

Example of non executable stack using `readelf`:

[code]

[2022-07-15 05:10] sonny486 opened #609 "Toupcam issues with latest indi-3rd party code"
**Describe the bug**
`indi_toupcam_ccd` - Camera does not download after capture.

**To Reproduce**
Start a capture of toupcam.  IMX571 - APS-C

**Expected behavior**
Capture and Download

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04 - on an x64 machine

**Log Files**

kernel: [  173.002838] traps: indi_toupcam_cc[2209] trap invalid opcode ip:7f5d592f7a23 sp:7f5d541

[2022-07-18 05:44] sajmons commented on #271
According to this, we are getting fix for this problem soon! Yeeea!
https://github.com/indilib/indi-3rdparty/pull/603/commits/028c59a1feb66cbf9411f5242e81d5c28abce929

[2022-07-22 05:38] sonny486 opened #611 "QHY 600c & 268c binning issue"
**Describe the bug**
When BIN mode 2x2 QHY600c displays a mono image in FITS viewer, however it does show all 3 channels active on FITS Viewer and it does show RGGB bayer pattern, if I use debayer - KStars Crashes.

**To Reproduce**
Run K- Stars - Select 2x2 binning
Image shows as mono however it does show 3 channels active and RGGB in bayer patten on FITS viewer

**Expected behavior**
Color image

[2022-07-22 05:52] knro commented on #611
Can you please post a link to this FITS image so we can test?

[2022-07-22 06:06] sonny486 commented on #611
https://drive.google.com/drive/folders/120JF6W8mbQZ7B0ze5tnnUM4ZHBTjSVHz?usp=sharing

FITS 010 is unbinned
FITS 011 is 2x2 BIN  Same config.

[2022-07-22 08:36] thx8411 commented on #611
Hello Jasem,

I don't think the QHY Driver uses software binning (i.e. binFrame() or binBayerFrame()), but the QHY firmware native binning :

in file qhy_ccd.ccp :

<<
... (line 1324)

// Set binning mode
    if (isSimulation())
        ret = QHYCCD_SUCCESS;
    else
        ret = SetQHYCCDBinMode(m_CameraHandle, PrimaryCCD.getBinX(), PrimaryCCD.getBinY());
    if (ret != QHYCCD_SUCCESS)
    {

[2022-07-22 22:41] sonny486 commented on #611
Here is a log showing BIN1x1 COLOR image downloaded
BIN2x2 Mono image downloaded
BIN3x3 Mono Image downloaded.

https://drive.google.com/file/d/1bFNp26vOzsgCaoV_ONHkvlVNk_S3BAzF/view?usp=sharing

[2022-07-23 05:01] sonny486 commented on #611
I also just found that my QHY268c also exhibits this problem.  Same thing 1x1 is a color image, and 2x2 and beyond are mono images.

[2022-07-23 05:08] knro commented on #611
Since these images are downloaded AS-IS from the QHY SDK, there is an issue in the SDK itself. I'll try to update QHY SDK to see if they fixed it, you might also want to contact them directly.

[2022-07-23 05:14] sonny486 commented on #611
Yes, I was thinking the same thing.  I will write Cha@qhy about the issue and see what they say.

I will also download the latest SDK July something I think and see if it makes a difference.

Currently running 22.5.11.

[2022-07-23 16:32] T-STUDIO opened #612 "Resize video with INDIWebCam driver"
Newly added in 1.9.6 VideoSizes = new ISwitch [7]
Causes trouble.

1. The driver crashes with old user settings.

2. Previously you could set the video size to fit your camera, but now you can't set a size that isn't on the list of 1. (For example, FULL HD)

By increasing the driver items, users who have been using this driver for a long time will crash and become unavailable.
I want you to change

[2022-07-24 13:07] knro commented on #611
I pushed an updated QHY SDK, you might try the nighties again to see if it makes any difference. If not, contact QHY directly.

[2022-07-25 02:28] sonny486 commented on #611
I got this from CHA@QHYCCD.COM:

Hello ,

It's true, when you go above BIN2, the image can only be output in monochromatic because merging invalidates the Bayer matrix.

Regards,

[2022-07-25 04:17] knro commented on #611
Alright, one method would be to perform software based binning which works from bayer frames as implemented by @thx8411

[2022-07-25 12:30] knro commented on #522
@sWski If there is no standard, we can do it in any way. I think we can go ahead and add some keywords to the FITS header as it is requested by several users now.

[2022-07-25 18:52] TallFurryMan commented on #382
I'll try to integrate this SDK this week. There's also the other issue about the executable stack that I need to ping Atik with.

[2022-07-26 16:50] sonny486 commented on #611
@thx8411 - I see the Software binning is still coded in the indi-qhy files.  Is there a way to set a checkbox on the indi driver to select software only binning?  That would be fantastic.

[2022-07-27 16:07] thx8411 commented on #611
Hi Sonny,

I will work on it. But I'm blind, I don't have any QHY camera anymore.
You will have to help me for testing.

Best regards,

Thx8411

[2022-07-27 16:10] sonny486 commented on #611
@thx8411 Yes, I will be able to help test for sure.  I have done some minor work on the QHY driver - Fixed the BAYER Matrix on it some time ago.  But I am not as good as you guys in programming, My programming experience was back in the day with Visual Studio 6 on Microsoft.

Thanks so much.

[2022-07-27 17:52] thx8411 commented on #611
Hi Sonny,

Great things have been done with Visual Studio 6 :-)

I pushed a first try on my repo :

https://github.com/thx8411/indi-3rdparty

fingers crossed...

Thx8411

[2022-07-28 14:22] thx8411 commented on #611
Hi Sonny,

I pushed a new version. Could you please try again, and check the driver version number. Should be 2.9 now.

Thanks,

Thx8411

[2022-07-28 15:01] HamHamFonFon opened #617 "Error compiling indi-rpicam"
**Describe the bug**
While compiling the driver indi-rpicam, on Ubuntu 20.04 installed on raspberry pi 3 model b+, i have some errors who cancel the compilation and installaton.
I have cmake version :
[code]
(with cmake 16, i have error about cmake version, so i have downgrade it).

**To Reproduce**
Run cmake command in README, no error.
[code]
**Desktop (please complete the following information)

[2022-07-29 12:21] HamHamFonFon commented on #617
I'm testing this : https://github.com/indilib/indi-3rdparty/issues/365#issuecomment-1163548412

[2022-07-29 12:39] HamHamFonFon commented on #617
Still same error after [build userland](https://forums.raspberrypi.com/viewtopic.php?t=323390#p1935591)

[2022-07-30 17:12] thx8411 commented on #611
Hi Sonny,

Right, the hardware binning must be set back to 1x1 when using software binning. I did it, but the wrong way, at the wrong place ;-)

Could you try my last version (pushed today) ?

Thanks,

Thx8411

[2022-07-31 11:39] Juergen889 opened #618 "After updating SM 1.7.1 to SM 1.7.2 qhy driver crashes"
[log_13-18-17.txt](https://github.com/indilib/indi-3rdparty/files/9228749/log_13-18-17.txt)

After updating from SM 1.7.1 (kstars 3.5.9, INDI 1.9.6) to SM 1.7.2 (kstars 3.6.0, INDI 1.9.7) the driver indi_qhy_ccd keeps on crashing, see attached log file

[2022-07-31 17:00] knro commented on #618
Please update and install again, does that fix the issue?

[2022-07-31 17:05] Juergen889 commented on #618
I had done all updates until today. The base installation was 32bit SM 1.7.1, then updated via the Stellarmate software updater. Doesnt work.

in the INDI forum there are several members whith the same problem. It seem, that the QHY driver wasnt compiled for the 32bit?

I did a complete new installation with the 64bit version of 1.7.2 (because I wanted to test the 64bit anyway). Here the camera wo

[2022-07-31 17:24] knro commented on #618
I pushed an update 30 minutes ago, did you install that?

[2022-07-31 17:26] Juergen889 commented on #618
Last update from my side was about 2 hours ago. I will try and come back if it works.

[2022-07-31 17:38] Juergen889 commented on #618
Hi Jasem. Now it works! Thank you for the quick fix!

[2022-07-31 19:30] #618 closed

[2022-08-01 14:27] sWski commented on #531
Hello Peter,

this was fixed in library by #175, however you have CMOS camera and there is same problem in camera firmware. Some have negative compensation value in their EEPROM and by setting high temperature it overflows. This can be fixed by updating camera firmware, which should be release in upcoming weeks.

[2022-08-03 06:00] #522 closed

[2022-08-03 18:50] yoeluk opened #622 "indi_asi_ccd crash on capture with ZWO ASI6200MC Pro"
While running the latest version of astroberry, v2.0.4, KStars / Ekos connected and discovered the ZWO ASI6200MC Pro camera fine but any attempt to capture resulted in a crash of 'indi_asi_ccd'.

![Selection_003](https://user-images.githubusercontent.com/2067872/182686309-831ac775-c5b7-4b90-88d7-6b0ef7175cc8.png)
![Selection_005](https://user-images.githubusercontent.com/2067872/182686328-3d5fedc5

[2022-08-04 04:01] yoeluk commented on #622
Closing this... I believe that the issue manifested because my pi4 was provisioned with only 1GB RAM. Testing on another mini PC worked fine.

[2022-08-04 04:01] #622 closed

[2022-08-04 09:15] OrangeLightning219 opened #623 "Bresser Exos 2 not tracking and slewing to targets"
Hi. I have a Bresser Exos 2 mount which is connected to Stellarmate using a cable bought from astro gadget. After some initial issues I managed to connect to the mount using Ekos and got this line in the logs: `[INFO] INFO: Communication seems to be established!`. The problem now is that every time I try to slew to a target the hand controller resets and I need to input time, date and location set

[2022-08-04 09:47] knro commented on #623
@kneo Any ideas on what could be wrong?

[2022-08-04 09:48] knro commented on #531
@peter-englmaier Can you please confirm the fix?

[2022-08-04 09:48] knro commented on #611
@sonny486 Can you confirm if it works fine with your camera?

[2022-08-04 10:14] kneo commented on #623
@OrangeLightning219 I have not encountered this type of issue, I look into that when I have some time to waste.

However, using "mount control menu" is not going to work properly, you need to use the handcontroller for that. You are supposed to pick an object, from the sky view and tell the telescope to go there. Then when the telescope reached the target you may use the direction commands in the

[2022-08-04 10:22] OrangeLightning219 commented on #623
I also tried to select an object from the sky view in kstars and use the "slew to target" button but it didn't work either. It either reset the controller like I described or did nothing at all.

What's the difference between using the mount control menu and the sky view? There is an option to goto a target in the mount control menu. I didn't try to slew the mount manually using the arrows in the

[2022-08-04 10:24] OrangeLightning219 commented on #623
I forgot to mention that after the goto attempt pressing the arrows on the controller also resets the controller.

[2022-08-04 10:32] kneo commented on #623
@OrangeLightning219 The difference is one uses a GOTO command the other moves it with a MOVE command, by a tiny amount, when the scope is tracking a previously selected targe using GOTO command. If you used some kind of "enter name here" methapher, it should be equivalent to the sky view.

This is not how it is supposed to work, for what I know. Have you tried moving the scope without the serial c

[2022-08-04 10:39] OrangeLightning219 commented on #623
The firmware is at version 2.3. I haven't tried moving without the cable. I'll try that later and let you know how it goes.

[2022-08-04 14:29] sonny486 commented on #611
Currentlu software binning has issues we are still working on.  Not ready for deployment.

[2022-08-05 07:58] nelsonsousa opened #625 "Multiple Altair cameras don't play well together"
I use two Altair cameras: Hypercam 183C Pro TEC as main camera and GPCAM2 290M as a guide camera. Each works well individually, but when connected at the time time often the guide camera times out and doesn't produce an image. The progress indicator just says "framing" and doesn't move past that. After a few timeouts and retries it then aborts.

Behavior is hard to reproduce, as it doesn't happen

[2022-08-05 11:13] nelsonsousa commented on #625
A couple log files. These were generated by starting EKOS, capturing one frame from each camera to see they both work. Start the guide camera on Loop mode in the Guide module; Start the loop on the main camera in the capture mode. Eventually one of the cameras starts timing out exposures. After disconnecting and connecting again it was  possible to capture a new frame
[log_09-29-41.txt](https://gi

[2022-08-05 14:17] knro commented on #625
Single driver per device is perhaps one way to work around this. The Altair SDK is also a bit older than the rest and could perhaps benefit from more recent updates. You may contact Altair to inquire about SDK updates. Current version is 49.18914.20210510

[2022-08-06 10:22] OrangeLightning219 commented on #623
I think I found the issue. I tried using the mount without the cable and it's working fine. The problem is that the controller resets at higher speeds. It turned out that my batteries are almost dead. I tested the mount using a power supply instead and it doesn't reset at higher speeds. So after I buy new batteries I'll test the mount with the cable again and let you know if the issue is resolved.

[2022-08-07 16:08] thx8411 commented on #611
Hi Sonny,

The issue is still the same ? It looks like a kind of wrong offset in the image buffer, but I can't figure out where it comes from :-(

Best regards,

Thx8411

[2022-08-07 16:14] sonny486 commented on #611
Yeah it's still the same.  No worries, I think the software binning may pre-date the move to full RAW images, so that's why it may not work as it did before that move.

Don't worry about it, I will see if I can convince QHY to fix the binning in hardware.

Thanks a ton for your efforts!

[2022-08-08 00:31] huijunYang opened #630 "indi_asi_ccd crashed"
In the 1.9.7, if I connect asi 174mm camera in the kstar, indi asi ccd driver is crashed.
There is no problem in the 1.9.6

1. Connect asi 174mm ccd
2. Driver will be crashed and asi ccd is disconnected.

 - OS: ubuntu rpi
 - Version : 22.04

[2022-08-08 08:49] nelsonsousa commented on #625
The driver available for download at Altair's website does mention a newer version of the SDK: SDK 50.19561.0.0.

I've posted on Altair's facebook group asking for the SDK to be updated in Indi, but I don't know how that process goes. Does an Altair dev commit a newer version? Do they email the SDK to an indi dev mailing list? Can it be extracted from the MSI file in the downloads page? The driver

[2022-08-08 08:56] knro commented on #625
It cannot be extracted from the Windows driver. You need to follow up with Altair regarding a newer SDK (if any). Maybe there are no updates, I'm not sure.

[2022-08-08 09:38] nelsonsousa commented on #625
There are definitely updates, as the SDK version on the ASCOM driver is 50.19561.0.0. I've opened a ticket with Altair. If/when they send me the SDK should I commit it to a fork and do a PR? Just email it to you? attach it here? I'm not familiar with your repo's best practices.

[2022-08-08 12:00] OrangeLightning219 commented on #623
Ok, changing the batteries resolved the controller reseting issue but now I can't even connect to the mount. I'm getting the connection watchdog timeout errors. I tried updating all the packages on the stellarmate and even reinstalled the whole system but nothing helps. Any ideas what may be causing the problem?

[2022-08-08 13:15] knro commented on #625
If you can make a PR that would be great of course. Otherwise, you can just post a link where we can download and I'll update it.

[2022-08-08 13:16] kneo commented on #623
You were able to connect before, so it once worked, the watchdog message from earlier only appears if you have communication from the mount. Check the cable, its quite fragile and may be broken, also check if its latched in properly.

[2022-08-09 14:15] nelsonsousa commented on #625
I've contacted Altair, awaiting their reply.

[2022-08-10 12:26] HamHamFonFon commented on #617
Tested few days after and no error. The only difference is cmake version :
[code]

[2022-08-10 21:52] peter-englmaier commented on #531
Wonderful!
Yes, I will test as soon as firmware has been released. So, far I see only firmware released May 16th, 2022 on this page:
https://www.gxccd.com/cat?id=201&lang=409
@sWski : would you please be so kind and post firmware version number here, once it is released?

[2022-08-12 11:35] nelsonsousa commented on #625
Altair told me they sent you the SDK yesterday. Did you receive it?

[2022-08-13 10:05] knro commented on #625
Yes, it's updated in GIT and should be in nightly ppa.

[2022-08-13 10:05] knro commented on #630
Are you sure everything is built up to date? that's usually the reason behind crash issues.

[2022-08-13 12:52] nelsonsousa commented on #625
Thanks. I'll give it a go tonight and see if it improves my cameras' behaviour. If it doesn't, would building a single-driver camera be a big task?

[2022-08-13 20:22] nelsonsousa commented on #625
How do I install the nightlies on stellarmate? Your repo is for ubuntu/kinetic, I'm on debian/bullseye. I tried building it with apt but no indi-full is available for kinetic. Do I have to build from source?

[2022-08-14 06:08] knro commented on #625
You can do it from console as well:

update_indi_core
update_indi_drivers

[2022-08-18 19:41] #623 closed

[2022-08-19 07:36] SteveBz opened #634 "SXVF-H16 returned as SXVR-H16"
I have acquired an old SXVF-H16 and a SXVR-H16 in need of fixing.  I returned them to SX who fixed a couple of things.  Now when I plug them into INDI for testing, I find that the SXVR-H16 seems to work more or less, but the SXVF-H16 is returned as a SXVR-H16.  This means that none of the cooling functionality seems to work.  On closer examination of the files:

https://github.com/indilib/indi-3rd

[2022-08-19 07:42] SteveBz commented on #634
Interestingly the VF-H9 in the photo here:

https://www.indilib.org/ccds/starlight-xpress-ccd.html

Is also not shown :)

[2022-08-20 06:34] knro commented on #634
Thanks Steve, what's the PID so we can add this to the file? you can find it from lsusb.

[2022-08-20 11:12] #382 closed

[2022-08-20 21:16] SteveBz commented on #634
Hi Jasem,

Well it looks as though it it the same as the SXVR, sadly.  Here are the results of the lsusb for Starlight Xpress:

Bus 001 Device 025: ID 1278:0507 Starlight Xpress Lodestar autoguider
Bus 001 Device 024: ID 1278:0920 Starlight Xpress
Bus 001 Device 023: ID 1278:0126 Starlight Xpress

So I think those are the guidecam, the filterwheel and the SXVF resectively.

Terry, at SX, tells me

[2022-08-21 10:12] YasuNishimura opened #636 "PlayerOne Uranus-C doesn't work on INDI v1.9.7"
Hi

I had a problem with PlayerOne Uranus-C camera on v1.9.7
But the problem was solved by replacing the library.
I will report it.

**Describe the bug**
INDI ver :1.9.7
Platform : Raspberry Pi + astroberry
Camera  : PlayerOne Uranus-C

The connection is good.
But the capture is bad. No image is returned even after starting the capture.

I saw the following error when changing gain settings.
　[ERR

[2022-08-22 17:55] sonny486 commented on #630
Building from today and I got these errors:
[ 63%] Linking CXX executable qhy_video_test
/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvReleaseImage'
/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvMinMaxLoc'
/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvCopy'
/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvSetImage

[2022-08-22 18:07] sonny486 opened #639 "INDI-QHY Compiling issues Latest indi-3rdparty -"
indi-qhy does not compile properly using latest Git indi and indi-3rdparty builds.

Compile indi-qhy following errors during driver builds:

/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvReleaseImage'
/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvMinMaxLoc'
/usr/bin/ld: /usr/local/lib/libqhyccd.so: undefined reference to `cvCopy'
/usr/bin/ld: /usr/local/

[2022-08-23 04:29] knro commented on #639
Why is the library in /usr/local/lib and not /usr/lib/x86-..etc ?

[2022-08-23 04:54] sonny486 commented on #639
I have no idea, I will do an install on a clean 20.04 x64 machine next. I will see what happens.

[2022-08-23 05:07] sonny486 commented on #639
Looks like there was bad data in that NUC.  compiled fine on a clean install.

[2022-08-23 05:07] #639 closed

[2022-08-23 22:05] sonny486 commented on #611
@thx8411 Do you have the SDK reference guide?   The link on the QHY website is not working.  I would like to work on the QHY driver a bit.

[2022-08-28 07:38] rigelinorion opened #647 "The HQ Rpi camera did not work with indi-rpicam."
Announcement:
2022-08-28T09: 30: 13 Unable to remotely establish the following devices: + RPI Camera "

There is no problem with connection with the V4L2 CCD driver.
Raspbian Buster (updated), indi (updated)
Camera tested on Raspbian Bullseye.
Anyone got an idea what's going on?

[2022-09-12 03:53] rigelinorion commented on #647
It worked. Reloaded system (raspbian buster), userland installed, 3rdpraty indi-rpicam driver compiled. Unfortunately, no live preview.

[2022-09-12 03:53] #647 closed

[2022-09-13 10:41] hiro3110i commented on #636
Thank you for valuable report.
Certainly, v1.9.7 libPlayerOneCamera.so.3.0.3 in the apt repository has a smaller file size for some reason.
Neptune-C II was working fine with this unidentified library, so I didn't notice it.

I checked the library in the v1.9.7 tagged repo on Github.  It was the expected SDK 3.0.3 size.
I'm not sure but maybe something went wrong in the build process.

Today, I ma

[2022-09-14 14:21] YasuNishimura commented on #636
Thanks for your reply. Also thanks for the new update.

I continue with my workaround and will wait for the next release.

[2022-09-14 14:21] #636 closed

[2022-09-17 12:34] jctk opened #654 "indi_sv305_ccd: Last line has garbage data"
**Describe the bug**
When Frame mode is set to RAW8 or Y8 in indi_sv305_ccd, the last line of data after shooting is garbage data.

**To Reproduce**
1. Run driver
2. Set the Frame mode to RAW8 or Y8.
3. When taken, the last line of data is random patterns.

**Expected behavior**
The last line contains the image data taken.

**Screenshots**
Arrows point to destination line:
![image](https://user-im

[2022-09-17 14:43] jctk opened #655 "indi_sv305_ccd: One previous shooting data retrieval is performed at the time of shooting."
**Describe the bug**
Changes in shooting conditions are reflected from the next shooting.
From this, it is assumed that data retrieval is performed from one previous shooting.

**To Reproduce**
1. Start INDI on Raspberry PI
$ indiserver -v indi_sv305_ccd
2. Start Kstars on Windows 11
3. Connect SV905C
4. Take 5 pictures.
 \#1st Exp.:1s Gain:-- Offset:-- Fits Header Gain 10 Offset 0
 \#2nd Exp.:1s

[2022-09-17 14:45] jctk commented on #654
Hi, @knro and @thx8411
I will investigate when I have time.

[2022-09-17 14:46] jctk commented on #655
Hi, @knro and @thx8411
I will investigate when I have time.

[2022-09-17 16:13] jctk commented on #655
Additional evidences:

Open and close the scope cover.
Do not change any other shooting conditions.

The first and second are taken with the cover in place.
The third to fifth images are taken with the cover open.

 \#1st COVERED Exp.:1s Gain:-- Offset:-- Fits Header Gain 10 Offset 0
 \#2nd COVERED Exp.:1s Gain:-- Offset:-- Fits Header Gain 10 Offset 0
 \#3rd OPENDED Exp.:1s Gain:-- Offset:-- Fits

[2022-09-18 13:33] jctk commented on #654
Additional evidence.
Reproduces even in Frame Format RAW16
![image](https://user-images.githubusercontent.com/52247294/190904854-65383244-176b-4498-a1e3-556a7d73f8f2.png)

[2022-09-18 14:49] jctk commented on #654
## Problem Cause ##
After setting the ROI with SVBSetROIFormat, the actual ROI must be obtained with SVBGetROIFormat.
The ROI obtained by SVBGetROIFormat has less height than that specified by SVBSetROIFormat.

In sv305_ccd.cpp, the process to get the ROI actually set by SVBGetROIFormat is not implemented.

## See also ##
SVBDemo.cpp's part on setting ROI.

[2022-09-19 07:49] #654 closed

[2022-09-19 19:00] peter-englmaier commented on #531
Hi again, sorry for my long silence. I just upgraded the camera to the latest firmware and tested with kstars. Now, when I turn cooling off in kstars, the camera cools down as expected.
Problem solved!
Best, Peter

[2022-09-19 19:00] #531 closed

[2022-09-20 06:28] evripidis opened #659 "Omegon new SDK"
There is an update on the SDK. Would you please take in consideration to make any updates/adjustements ?

https://nimax-img.de/Produktdownloads/68723_4_SDK.7z

[2022-09-20 07:31] knro commented on #659
It's updated.

[2022-09-20 07:31] #659 closed

[2022-09-21 03:31] operator911 opened #660 "Celestron Aux with NexstarSE on a Wedge - RA/Dec errors when syncing in the 10s to 100s of thousands."
With my Nexstar SE on a Celestron Wedge, I was having a great deal of difficulty getting KStars/Indi running on Stellarmate to properly sync, and then track/goto stars correctly.

At first with the current build of the drivers, the mount on a wedge when connected would start with KStars pointing to Polaris, and then unless I started the mount in a very particular orientation, DEC would seem to be

[2022-09-21 06:20] knro commented on #611
Any update on this issue?

[2022-09-21 06:20] #630 closed

[2022-09-21 06:23] #463 closed

[2022-09-21 06:24] knro commented on #609
Just checking if this is still an issue?

[2022-09-21 11:54] sonny486 commented on #609
No this was resolved. Thanks

[2022-09-21 11:54] #609 closed

[2022-09-21 11:57] sonny486 commented on #611
Was hopping to have a software binning capabilities to resolve this, but it did not work as the developer no longer has a QHY camera to develop code for this.

Will close issue.

[2022-09-21 11:57] #611 closed

[2022-09-23 14:12] jctk opened #662 "indi_sv305_ccd: Frame Format should be selectable in the Ekos Camera module."
**Is your feature request related to a problem? Please describe.**
In the INDI control panel of SVBONY cameras, RAW 8 bits, RAW 16 bits, Y 8 bits, etc. can be selected as Frame Format, but in the Ekos Camera module, only RAW can be selected (mono only for monochrome cameras).

**Describe the solution you'd like**
I would like to be able to select the Frame Format that can be selected in the SVBONY

[2022-09-23 14:19] knro commented on #662
Driver needs to add addCaptureFormat. Check out ZWO ASI driver for an example implementation.

[2022-09-23 14:25] jctk opened #663 "indi_sv305_ccd: Binning that the camera does not support can be selected."
**Describe the bug**
Binning that the camera does not support can be selected.

**To Reproduce**
Exact steps to reproduce the behavior.
1. Connect SV905C
2. Change binning to 3 in Ekos Camera module. SV905C supports only BINNING 1 and 2.
3. I can select Binning 3 which the camera does not support. When the camera takes a picture, it does not generate an error and the FITS Header also records XBINN

[2022-09-23 15:12] jctk commented on #662
Thank you for your advice.
I already saw INDI ZWO ASI Driver sources.
That's one of my teacher for INDI CCD driver.

[2022-09-24 06:12] knro commented on #663
updateCCDBin in the driver can be updated to reject anything not 1 and 2.

[2022-09-24 06:26] jctk commented on #663
Thanks
I'll check it later.

[2022-09-24 16:54] jctk commented on #662
Hi @knro

The INDI standard property name for "Format" in Ekos is `CCD_CAPTURE_FORMAT`, right ?
Should the blue mark in the figure also be `CCD_CAPTURE_FORMAT` ?

I am wondering how `CCD_CAPTURE_FORMAT` should be done as it is not documented in the following web.
https://indilib.org/developers/deveioper-manual/101-standard-properties.html

[2022-09-24 17:03] knro commented on #662
Yes it's not documented in the website as it is a recent addition. You don't need to deal with this direct. When setting up the camera after connecting to it, you may call addCaptureFormat and it's taken care of by the parent INDI::CCD class. When the format is changed, the parent class calls SetCaptureFormat.

[2022-09-24 17:25] jctk commented on #662
Thanks.

When this Issue is corrected, the values in the old configuration file must be converted to the new values.
Otherwise, it will exit abnormally with Access Violation.

I am investigating the behavior of `CD_CAPTURE_FORMAT` and `CaptureFormatSP` with `ISNewSwitch` to solve this problem.

[2022-09-29 06:09] #662 closed

[2022-09-29 12:25] jctk opened #665 "indi_sv305_ccd: Native file format can be selected, but the driver does not support Native."
**Describe the bug**
"Native" format can be selected in the Ekos camera module.
When Native format is selected and a picture is taken, the camera terminates abnormally the second time.

**To Reproduce**
1. Select Native format in the Ekos camera module.
2. Capture a shot with the "Capture a perview" button.
3. Fits viewer is not displayed.
4. Capture a shot with the "Capture a perview" button agai

[2022-09-29 12:47] jctk commented on #665
This issue was reproduced in indi_asi_ccd as well.

Is following issue the same ?
https://www.indilib.org/forum/ccds-dslrs/3293-kstars-2-9-4-crashing-when-previewing-with-native-format/25153.html

[2022-09-30 09:12] jctk commented on #665
Hi, @knro

I don't know what 'Native' format is.
Is the data output by the Camera driver directly into a file ?

[2022-10-02 05:21] knro commented on #665
Yes it's how you encode the data. Native means whatever the driver deems. For some DSLR cameras, it captures in JPG and you can **encode** it as either FITS or *native* JPG and send as-is. For ASI and SV cameras, there is no native, native would be just raw data which cannot be read.

We should probably add a method to remove "Native" from the available selections for some drivers.

[2022-10-02 05:31] knro commented on #665
A simple trick now that might EncodeFormatSP.nsp = 1 in UpdateProperties()

[2022-10-02 05:36] jctk commented on #665
Yes, I agree with you.

I will try sonn it.
Thanks !

[2022-10-02 07:35] jctk opened #666 "indi_sv305_ccd: Cooling-related API calls may fail in TimerHit function when using autofocus with a cooling camera"
Details are unknown at this time.

I guess this Issue is affected by fix #654.
I found this issue while using "Astroberry Focuser", but it also occurs in "Focuser Simulator".
It seems to affect Focuser in general.

**Describe the bug**
When Auto Focus is executed with the cooler on in the SV405CC, the following error repeatedly occurs after "Subframe set" after a short period of time, and the came

[2022-10-02 07:48] knro commented on #666
Looks like it's triggered when the subframe is set? If you do this manually in the driver, is this behavior triggered?

[2022-10-02 08:07] jctk commented on #666
I can't say anything about that, because I haven't done any research on the source code yet.
So far I haven't encountered this problem when manually changing the subframe on the Capture module.

Maybe the problem is that #654 is replacing the size of the ROI with the size actually set by the SVBONY SDK, as opposed to the size of the ROI expected by the Focuser module.
Whatever the case I will have

[2022-10-02 12:53] jctk commented on #666
Additional comment:
- Reproduce even with the cooler off.

[2022-10-02 13:14] jctk commented on #666
Log when reproducing the Issue.
Drivers in profile: indi_simulator_focus and indi_sv305_ccd
[code]

[2022-10-03 05:03] knro commented on #666
Maybe while exposure is in progress, you cannot inquire of other parameters and must wait until exposure is finished? Not sure, just a guess.

[2022-10-03 12:24] jctk commented on #666
That does not seem to be the case.
If that is the case, then you will not be able to acquire parameters when exposing with the Capture Module as well.

[2022-10-12 12:38] jctk commented on #666
I have created the test code linked below to reproduce this issue.
https://github.com/jctk/svbtest/blob/master/svbtest.cpp

After making it, run the following.
$ . /svbtest SV405CC

The code repeats 12 times calling SVBSetROIFormat, exposing with SVB_MODE_TRIG_SOFT and SVBGetVideoData.
After several repetitions, SVBGetVideoData returns SVB_ERROR_TIMEOUT and the data can no longer be obtained.
Line

[2022-10-13 15:36] jesshurch opened #669 "Pentax K1ii DNG images corrupted after capture"
**Describe the bug**
Using Ekos (kstars) to capture an image on a remote indi server results in a valid .DNG file being copied from the camera, but when copied back it arrives both corrupted, and with added FITS headers. Removing the FITS header does not leave a valid DNG

**To Reproduce**

Select 'Native' in the ekos module, and 'DNG' as the format in settings
capture an image either locally or r

[2022-10-13 15:47] jesshurch commented on #669
Note: Images passed to the focuser and plate solving appear to be valid

[2022-10-13 19:47] pereblay opened #670 "indi_asi_wheel can not setup the Zwo EFW in raspberry pi 4"
Hi,

I have tried  by cloning different versions from github (master branch, v1.9.8, v1.9.7, and v 1.8.9) but the problem persists.
The system detects the filter wheel properly:

$ dmesg
[79423.365621] hid-generic 0003:03C3:1F01.0007: hiddev96,hidraw4: USB HID v1.01 Device [ZW0 ZWO EFW] on usb-0000:01:00.0-1.2.1.4/input0

but indi_asi_wheel fails to initialize it:

$ indiserver indi_asi_wheel
2022

[2022-10-14 03:50] knro commented on #670
I just tested on StellarMate and couldn't find any issues.

![image](https://user-images.githubusercontent.com/5986347/195758357-49c41a34-3336-4aba-b8f4-5c28728669d9.png)

[2022-10-14 04:43] knro commented on #669
Is this using INDI Pentax (Native) driver? I just tested with Nikon and couldn't find any issues. Also, when using Focus/Align modules, the captured images are FITS. However, the images are only native when capturing via the Capture module.

![image](https://user-images.githubusercontent.com/5986347/195764120-f28fe477-5784-4f3c-a5fa-2e4a000e3e66.png)

[2022-10-14 05:47] jesshurch commented on #669
Correct, this is the INDI Pentax (Native) driver. My apologies for not being able to recall which version I was using at the tail end of last season when everything was functioning well.
It does look like the capture is fine, just the images is being corrupted and a FITS header added prior to transfer. Is this handled by the Pentax driver ?

[2022-10-14 05:53] knro commented on #669
Thanks, @karlrees is the expert on this driver. @karlrees Can you please check this out?

[2022-10-14 06:21] knro commented on #669
I see Image Format is missing. @karlrees I added in pentax_ccd.cpp line 101 a loop to add capture formats... do you know why are they still missing?

[2022-10-14 06:42] pereblay commented on #670
Thanks Jasem,

Which version of OS (buster? bullseye?) and kernel? (to test the exact same
configuration).

El vie, 14 oct 2022 a las 5:51, Jasem Mutlaq ***@***.***>)
escribió:

[2022-10-23 04:42] #655 closed

[2022-10-23 15:33] jesshurch commented on #669
If it's any help I just built and tested 1.9.4 and .raw files are written correctly with no FITS header information

[2022-10-24 15:43] toriqo opened #675 "Atik apx60 gain maximum limit - indi_atik_ccd"
**Description**
When using the Atik apx60 camera I cannot set the gain to more than 60.

**Steps To Reproduce**
1. Run driver
2. Try setting the gain to more than 60
3. You can't (unless using the Atik presets - low, medium and high which are 0, 60 and 300).

**Expected behavior**
I should be allowed to set whatever gain I want up to 420.

**Environment:**
 - OS: Kubuntu 22.04
 - KDE Plasma Versio

[2022-10-27 03:13] jctk commented on #666
Hi @knro

SVBONY seems to recognize that Camera cannot send data about small ROIs.
Rita from SVBONY to KStars Developer to inquire about setting ROI while KStars autofocus is running.

[2022-10-27 04:32] knro commented on #666
@jctk Excellent, thank you for the update. We will await their communication.

[2022-10-31 17:02] toriqo commented on #675
i can only freely set the gain up to 420 on the plate solve tab so... can this be an ekos bug?

[2022-11-01 00:08] toriqo commented on #675
after the last update, it seems i can select the gain i want but now there's another problem. and i can't pinpoint it, i just know there's something wrong as the captures display all sorts of artefacts and the images i take at gain 0 now look like they were taken at a way higher gain. also, after i subtract the darks from the lights, though they're taken at the same temp/gain/offset etc, the new f

[2022-11-01 07:22] TallFurryMan commented on #675
Congratulations for acquiring this monster of a camera @toriqo. Let's try to find where the culprit is.

I'll check whether there is a new SDK at Atik.

First test you could do in Ekos is to use the INDI panel to trigger an exposure with specific gain and offset. You enter custom values for these, then you enter a specific exposure and trigger it when pressing "set". Normally you should see the ch

[2022-11-01 08:37] toriqo commented on #675
thanks, @TallFurryMan :)

so, first of all. INDI was using an old SDK from Atik and I had issues with this camera and INDI (lots of artefacts).
after talking to them, they noticed INDI was using an old SDK version so I've decided to build my own driver using their latest SDK (not the beta). and it worked.
since i only used gain 0 with this camera, i didn't look into other gain settings until i got

[2022-11-01 09:29] TallFurryMan commented on #675
I indeed updated the SDK without any hint about whether it would work with the APX series. I think we can do better now.

First, if you were able to update the SDK inside the the driver, let's work from there. Do you feel like submitting a PR that we may work on? The next change to do is in atik_ccd.cpp, where the gain is indeed clamped at 60. I don't remember there is a way to ask the SDK for a l

[2022-11-01 10:30] toriqo commented on #675
not sure how i could make a PR. i just downloaded atik's sdk, simlinked it on kubutunu instead of the one indilib was using and then rebuilt the driver... no code written :)

[2022-11-02 16:53] TallFurryMan commented on #675
OK, I'm importing the latest beta SDK. I'm reviewing latest code and documentation, and if I see something, I'll fix, maybe test on my Horizon2 and you tell me how it goes on your APX.

Actually, right now I believe the current driver is already picking the min/max gain/offset values properly from the SDK. I see it is properly using those values to constrain the INDI property. This is expected to

[2022-11-02 17:07] toriqo commented on #675
as i said, i THINK it might've been a bug in ekos (which i updated once or twice since opening this issue) because now i can set the gain up to 420. the problem now is the difference in the images it takes, they're not the same, not sure what exactly changed (see my previous comments and the screenshot).

most importantly, i cannot enabled the debug logs (it's the first thing i tried). i click the

[2022-11-02 17:11] TallFurryMan commented on #675
Try enabling the logs from the Ekos logs button, in the manager panel near the start button.

[2022-11-02 17:14] toriqo commented on #675
now that's something i've never clicked in so many years in ekos. will start the beast up, run a test and get back to you in a few minutes, thanks

[2022-11-02 17:45] toriqo commented on #675
any sensistive info i should be aware of in those logs? i'd hate to go through thousands of lines looking for something that isn't there... :)

[2022-11-02 17:48] TallFurryMan commented on #675
Logs are prefixed with the driver, you may grep what you need out of it I suppose. Try to find the line I provided earlier:

`Horizon current gain: data[0:1] 0x.... data[2:3] 0x.... data[4:5] 0x.... values min ... max ... cur ...`

It is marked "Horizon" because that was originally introduced for the Horizon, but actually it's now any camera.

[2022-11-02 17:50] toriqo commented on #675
[code]

[2022-11-02 17:52] TallFurryMan commented on #675
I believe that the driver will not relax the 0-60 restriction when the preset is not Custom. That may be a hint on how you should configure the driver. In other words, if the Preset property is something else than Custom, the gain/offset boundaries will not be updated and will remain at 0-60 and 0-511.

[2022-11-02 17:54] toriqo commented on #675
if i type anything in the gain/offset boxes anywhere (ekos or indi control panel) the preset switches to custom even if i type the values of a preset

[2022-11-02 17:55] toriqo commented on #675
one other thing. i think i still use my own driver, not yours

[2022-11-02 17:56] TallFurryMan commented on #675
I don't think there is a change in the new driver. Have you seen a change when symlinking the new one?

You should get the same line in the logs when you modify the gain or the offset, please check:

[code]

[2022-11-02 18:04] toriqo commented on #675
yes, i did see a huge change because there was a bug in atik's sdk. the newer sdk solved the artefacts issue for apx60.
regarding that line, it only shows up once, though i've changed the gain and offset several time, taking a photo after each change.

[code]

[code]

[code]

the first one was shot at default (how i shoot long exposures, gain 0 offset 200) which happens to be the first preset so i

[2022-11-02 18:11] TallFurryMan commented on #675
Let me check the code to understand how to adapt, if anything is possible.

[2022-11-02 18:13] toriqo commented on #675
i thought the presets were factory set. if you mean the last setting used if it's persistent then i don't know but i can test it, if needed. want me to do that?

[2022-11-02 19:43] aaronwmorris opened #681 "Altair unable to enable RAW format on first connection to indiserver"
**Describe the bug**
The indi_altair_ccd driver will not return the CCD_CAPTURE_FORMAT control on the first connection to the indiserver.  Any subsequent connection will return the control.  Altair color cameras start in RGB mode (as opposed to RAW mode) and the CCD_CAPTURE_FORMAT control is used to change to RAW mode.

I believe this is only an issue on color Altair GPCAM3 (maybe 2 as well) camer

[2022-11-02 19:46] aaronwmorris commented on #681
**Test Script**

[code]

[2022-11-02 19:48] aaronwmorris commented on #681
**First connection**
[code]

**Second connection**
[code]

[2022-11-02 20:08] TallFurryMan commented on #675
First point, the "automatically switching to Custom preset" log means that the Gain and Offset were successfully sent to the hardware, but it does not indicate which value was sent. The value may have been clamped to the property interval beforehand.

Second point, to have the properties Gain and Offset update their boundary, the code needs to see that the Preset is Custom when it starts the drive

[2022-11-02 20:35] TallFurryMan commented on #675
I pushed new commits to #680, which will read Gain/Offset boundaries whatever the Preset and provide them to the client.

[2022-11-03 17:48] sharpie78 commented on #681
Looks like you've got your head around where the issue lies and what to do to sort it. I could pretend to know what all the stuff above means but I'd be lying. I think I can decipher about half of it. haha

[2022-11-03 18:11] aaronwmorris commented on #681
It is somewhat clear to me, but to be honest, I do not understand a lot of what is happening.  The Altair support appears to be built on the Touptek driver.  There is a point in the touptek initialization where it sets up the camera depending on if the camera is mono vs color.

https://github.com/indilib/indi-3rdparty/blob/master/indi-toupbase/indi_toupbase.cpp#L629

I *think* what is happening is

[2022-11-04 12:36] toriqo commented on #675
not sure if i should post this here but i thought i should let you know i've seen the same behaviour on zwo asi2600mc pro on kstars 3.6.0 running on astroberry. i could only set gain to max 100 in the focus tab.
that's what made me think it might be a bug in kstars.

[2022-11-04 12:39] TallFurryMan commented on #675
Sure, in KStars or the same bug in the asi indi driver too. Maybe I can have a look later, but not sure.

[2022-11-04 12:51] toriqo commented on #675
i just read this again. no, in the shots i took to test, i didn't set any presets nor changed anything in the indi control panel. i just changed gain and offset from the camera/capture tab and took the shots from there as well

[2022-11-05 12:12] sharpie78 commented on #681
i'm making connections in my head, linked to the other thread on this camera, which probably won't help but sometimes a naive idiots idea of how software works can help ...
The AltairCapture software opens the camera in RGB mode by default when connected (I think). Could there be a link there ? Could they have preferred their own software to be the main way to use the camera with full functionalit

[2022-11-05 12:25] sharpie78 commented on #681
I just had a look through the toupbase code you linked to.... How do you guys write/understand this stuff ?
It still amazes me that people like you can make electronics do the stuff we want it to. It must take years and years to learn computer languages and there's more than one. My hat is off to you and even if you never figure out this Altair issue, indi-allsky is a great piece of software.

[2022-11-06 05:53] #681 closed

[2022-11-06 05:53] knro commented on #681
@aaronwmorris Please test and let me know if this resolves the issue.

[2022-11-06 17:21] aaronwmorris commented on #681
Thank you @knro this fixes the problem of the control never being populated...however it introduces another issue.

Previously, the indi_altair_ccd driver had an interesting behavior, the `CCD_CFA` property would not be populated until the camera was put in raw mode.  Almost all of the other cameras I have experience with always populate this property regardless of mode.

With the changes you made

[2022-11-09 15:16] jctk commented on #666
Hi @knro
I have confirmed that SVBONY Camera SDK 1.9.8 and SV405CC firmware 2.0.0.6 resolve this issue.
I will pull request libsvbony in the near future.

[2022-11-09 15:42] knro commented on #666
Great news! Thank you.

[2022-11-10 04:27] #666 closed

[2022-11-11 09:42] TallFurryMan commented on #675
Hi @toriqo have you been able to test #680, which must have landed since last week?

[2022-11-11 09:48] toriqo commented on #675
unfortunately no, no clear skies at all. on saturday i will though. but fyi, since we were mid talks in this issue, kstars started working, allowing me to set a higher gain. but not sure about what happens behind the scenes.
also, what should i update? kstars itself or the indilib + drivers?
also, which atik sdk did you settle on, in the end? 2022_07_13?

because i had other serious issues with th

[2022-11-11 10:04] TallFurryMan commented on #675
Good news if the gain/offset can be controlled properly from KStars on your end. I updated the Atik SDK to 2022.10.21.1036 in #680. There is now a new beta SDK, but the changelog says it brings in ChemiOS features, possibly not used that much for astrophotography (although INDI is not per se restricted to astrophotography).

[2022-11-11 14:23] jctk opened #683 "indi_svbony_ccd: When the sequence is started, the target temperature is set to 25°C"
**Describe the bug**
The target temperature is set to 25°C when the sequence is started, even though the target temperature set for the sequence is -10°C.
The temperature ramp is not set.

**To Reproduce**
1. Set the target temperature to -10°C in the Ekos capture module and register the sequence.
2. The target temperature is set to 25°C when start shooting.

Addendum November 13, 2022.
- On the d

[2022-11-16 05:09] knro commented on #683
Thank you for the report. However, this is not an INDI issue (not that I can see). Also, I can't reproduce it.

[2022-11-16 05:09] #683 closed

[2022-11-16 05:10] knro commented on #670
Yes bullseye, it works fine without any issues.

[2022-11-16 05:10] #670 closed

[2022-11-16 05:10] knro commented on #663
Can you please check if the issue is resolved?

[2022-11-16 05:11] knro commented on #612
@rlancaste Any update on this issue?

[2022-11-16 05:12] knro commented on #582
I think you need to reach out to Atik as we can't do anything about a binary blob.

[2022-11-16 05:12] #582 closed

[2022-11-16 05:13] knro commented on #570
INDI QHY driver can be linked just fine against libqhy, so how come it does not fail if that file is missing?

[2022-11-16 05:14] knro commented on #566
This is fixed by the INDI Libcamera driver. While it does not work yet, the driver development has started.

[2022-11-16 05:14] #566 closed

[2022-11-16 05:15] knro commented on #545
Error reporting instructions here: https://indilib.org/individuals/logs-howto.html

A better method is to use Ekos Debugger

`sudo apt-get -y install ekosdebugger`

[2022-11-16 05:16] #271 closed

[2022-11-16 05:16] #493 closed

[2022-11-16 05:17] knro commented on #342
We'll be migrating to INDI Libcamera driver so I don't think this driver will be maintained for long.

[2022-11-16 05:17] #342 closed

[2022-11-16 05:17] #521 closed

[2022-11-16 09:14] alepensato opened #684 "KStars - Problems with Playerone"
I updated to the last version but I was unable to use my Playerone sedna as guide.
When i start looping the screen does not update the image and in console i find some row with **reset SuperSpeed USB device number 2 using xhci_hcd**

I reinstalled all the system with latest updates, but the problem persist.
Here a log file.
I also tried to use the SDK from PlayerOne site but with no luck.

If i st

[2022-11-16 09:17] knro commented on #684
@hiro3110i Can you please take a look?

[2022-11-16 10:17] jctk commented on #663
I cannot check this issue yet.
I have not yet started to fix this issue.

[2022-11-16 10:37] jctk commented on #683
I believe this is a problem with the SVBONY CCD INDI driver.
 25°C, this magic number is the default value in the Target Temperature column when you open the Ekos Capture module in the SVBONY CCD INDI driver, and when you switch cameras in the Capture module or switch the display from another module to the Capture module 25°C may be set in the Target Temperature field.
I have not investigated this

[2022-11-16 11:03] knro commented on #663
INDI 1.9.9 is due Nov 30th so it would be great if this is resolved before then. Two weeks left.

[2022-11-16 11:05] jctk commented on #663
Okay, I'll give it a try. Please wait for me.

[2022-11-16 11:39] jctk commented on #663
I set out to fix it and found that this is not a bug.

The SVBONY CCD INDI driver uses INDI's software binning.
In other words, it is not limited by the binning supported by the camera.
Therefore, this issue is not a problem that needs to be fixed in a hurry.

I would consider rewriting the driver using the SVBONY Camera SDK binning mechanism after the release of INDI 1.9.9. I do not fully underst

[2022-11-16 19:36] alepensato commented on #684
@hiro3110i Thanks for you reply.
Actually I have two similar setup, the difference is in the mount (EQ6 and CEM70), I use a Raspberry Pi4B 4GB RAM with latest RaspbianOS **64bit** where i installed the INDI/KStars packages taken form https://ppa.stellarmate.com/.
As I described When I start it with SIMULATOR or REAL SETUP, I have the Sedna that hangs if I stop a Guide loop.
It starts correctly but

[2022-11-16 20:02] alepensato commented on #684
@hiro3110i
I tested the setup also on a  Lenovo t430 with Ubuntu 22.04 lts updated to lastest software releases (OS & INDI)

[2022-11-17 14:27] hiro3110i commented on #684
@alepensato Could you please tell me more about your setup?
What kind of guiding are you using?  Are you using video streaming mode for guiding?

Sometime video streaming mode may appear unstable even in my environment.
I suspect that it is due to USB3 bandwidth becoming critical. Or maybe it's because the data transfer interruption puts into an unexpected state. I'm not sure but resume from sudde

[2022-11-17 14:41] alepensato commented on #684
I use KStars internal guider with all the default Playerone setting that are checked/setted when you start Ekos for the first time. I just checked that the image was at 16bit. Actually I am testing the camera on my desk, I just connect the camera and run the LOOP button on the Guider tabs (loop correctly), stop it, press again Loop and I get only a frame then nothing. I you look at the INDI panel

[2022-11-17 15:34] hiro3110i commented on #684
@alepensato Thank you for explanations.
Your usage of internal guider is the same as mine.
There seems to be a clear difference between 32bit and 64bit.

KStars v3.6.2beta, indi v1.9.9beta and indi_playerone_ccd v0.8 built from the latest git repository have no problems on my Raspberry Pi4B (32bit).  I would like to hear the manufacturer's opinion on whether there is any problem with the 64bit ver

[2022-11-17 15:49] hiro3110i commented on #684
@alepensato One short confirmation.
Could you please check your library version of libPlayerOneCamera.so in /usr/lib/arm-linux-* (64bit folder)?
There was a case in the past where an old version was installed for some reason.
It is expected to be symlinked to libPlayerOneCamera.so.3.0.4 (SDK v3.0.4).

[2022-11-17 15:54] hiro3110i commented on #684
It's also big problem for me...

[2022-11-17 15:55] alepensato commented on #684
I will check later, actually i am away from home

[2022-11-18 11:03] hiro3110i commented on #684
@alepensato Screenshots were very helpful, thank you.
We also confirmed that there is no problem of library version.
I'm waiting for the manufacturer's opinion on the underlying solution now.
Anyway, current optimal solution for 64bit OS is to set the exposure time to less than 1 second, I understand.

@knro Does it fix of yours work around this problem?
[56952b1](https://github.com/indilib/indi/c

[2022-11-18 13:18] alepensato commented on #684
@hiro3110i
Guide with value of 0.5sec, could not be considered as a solution, is not realistic.
Usually I use 2-3seconds.
In this case I use the old 32bit as is, also compile from source KStars/INDI/INDI-3rdparty every time is not my goal.

[2022-11-18 17:44] knro commented on #684
Does it work in PHD2 for Linux?

[2022-11-18 17:45] alepensato commented on #684
@knro
in PHD2 under raspbianos 64bit

[2022-11-18 17:50] knro commented on #684
Are you saying the camera works fine with PHD2 under Raspberry PI? This is using internal PHD2 drivers or INDI driver?

[2022-11-18 17:53] alepensato commented on #684
@knro
Yes, PHD2 under Raspberry PI, connected with INDI driver, with RaspbianOS 64bit.
If you want take a look, I can invite you to enter into the system using VNC

[2022-11-19 19:43] astrogene1000 opened #685 "Celestron AUX - Command MC_AUX_GUIDE/MC_AUX_GUIDE_ACTIVE"
Celestron AUX driver, latest Master
HC Version: 5.31
MC version ALT/AZ 5.14.0
Mount:  Nexstar SE w/usb serial

Ekos Driver Selection '* Wedge'

Connect driver in HC/USB Mode
Now whether the driver had been instructed to do other things prior, e.g. SYNC's and GoTO's or not:

Navigate to Guide Tab
Enter value(s) for Guide(N/S)  or Guide(E/W) and press set
Example Command 0x26 is sent with "CMD <50 0

[2022-11-20 04:59] knro commented on #685
Thank you for the report. Do I understand that we need to add MC_AUX_GUIDE to the [switch list](https://github.com/indilib/indi-3rdparty/blob/db6819029e62a24da3e726d1f77c494754020eef/indi-celestronaux/auxproto.cpp#L291) to indicate that response is 1 byte?

So we should add both MC_AUX_GUIDE and MC_AUX_GUIDE_ACTIVE there to indicate they return just 1 byte?

[2022-11-20 06:20] knro commented on #545
@luzik Any further updates on this? INDI v1.9.9 is due next week so we have time to fix if we could identify the root cause.

[2022-11-20 11:27] astrogene1000 commented on #685
Not sure any impact on EVO or other mount motor cards. The above was done on SE base motor cards. SE may just not support as seen in the 0x27 MC_AUX_GUIDE_ACTIVE response always '1' .
The Celestron firmware page https://www.celestron.com/pages/firmware-update-history lists version 7.15+/7.17+ for other mounts versus the 5.14 for the 6/8 SE line (SE line mounts not even listed).
I believe you have

[2022-11-20 15:12] jesshurch commented on #669
I've now built and tested version 1.9.5 and it fails in the same way as the current release
PkTriggerCordCCD::grabImage handles the data as native, but CCD::ExposureCompletePrivate treats it as FITS

not knowing the code too well nor having much time I haven't got further than this, but if it helps pin down anywhere where it's likely to be broken ...

[2022-11-20 15:24] astrogene1000 commented on #660
To me, this issue does not look like an AUX driver issue

In the 22-17-19 log file I found this.
A solution is calculated and criteria met.
Then a Slew roughly 90 degrees away is commanded
An image is captured and solved at the 90deg RA away
Scope is sent back to 'Vega' and error that it failed.

[2022-09-02T00:17:14.100 EDT DEBG ][           org.kde.kstars.indi] - Evolution WiFi Wedge : "[ALIGNME

[2022-11-20 16:00] astrogene1000 commented on #685
There are other mis-matches for response size in the AUX, example for GET_VER against an SE base with motor cards version 5.14

[2022-09-01T22:49:37.152 EDT DEBG ][           org.kde.kstars.indi] - Evolution WiFi Wedge : "[CAUX] CMD <     GET_VER>  APP ->  AZM "
[2022-09-01T22:49:37.152 EDT DEBG ][           org.kde.kstars.indi] - Evolution WiFi Wedge : "[CSER] CMD <3B 03 20 10 FE CF> "
[2022-09-0

[2022-11-20 17:22] knro commented on #660
KStars is a bit out of date. Can you try with KStars 3.6.2 Beta?

[2022-11-20 18:21] astrogene1000 commented on #685
For the MC_AUX_GUIDE/MC_AUX_GUIDE_ACTIVE attempt and experimenting to make these actually functional
See
[https://github.com/astrogene1000/indi-3rdparty/tree/master/indi-celestronaux](url)
TimerHit in celestronaux.cpp,
/* ESN 11192022 */
    if (MountTypeSP[EQUATORIAL].getState() == ISS_ON)
        {
//          if (GuideWENP.s == IPS_BUSY) // uncomment for non-debug, stop callling every Hit

[2022-11-21 00:46] hiro3110i commented on #684
@alepensato  Sorry for the late response.
It is an important clue that the 64-bit indi driver does not seem to cause problems with PHD2.  Manufacturer's engineers are always very cooperative.  They're doing some analysis on this issue, and it's important information for them too.
Thanks for testing with PHD2.

[2022-11-21 06:59] knro commented on #685
Does this make guiding fully work for your setup?

[2022-11-21 10:25] astrogene1000 commented on #685
No, scope never moves and MC_AUX_GUIDE_ACTIVE returns a '1' at all times, even when MX_AUX_GUIDE was never sent..

[2022-11-21 11:02] astrogene1000 commented on #685
This may explain it, from "celestrongps.cpp"
canAuxGuide = (atof(fwInfo.RAFirmware.c_str()) >= 6.12 && atof(fwInfo.DEFirmware.c_str()) >= 6.12);

So v5.14 of the SE mount does not qualify.

Reference:
6.12 - Support for "Custom Rate 9" (introduced in HC version 4.19 - see above).  Added new "Aux" command to support better autoguiding via RS-232 communication via the port on the bottom of the hand

[2022-11-21 11:07] knro commented on #685
Ok sorry to hear about that. Curious what if you just set to true

canAuxGuide = true

and see what happens with your mount? Most likely it's not going to work but at this stage, nothing to lose.

[2022-11-21 14:09] astrogene1000 commented on #685
Is doesn't lock up :-), but also does nothing using modified indi_celestron_gps

DEBUG   84.281574 sec   : CMD <50 03 11 26 32 C8 00 00>
DEBUG   84.310454 sec   : RES <23>

DEBUG   86.311174 sec   : guideTimer dir N, ticks -55, rate 50
DEBUG   86.311337 sec   : CMD <50 01 11 27 00 00 00 01>
DEBUG   86.340249 sec   : RES <01 23>

10 seconds later, response still a '1'
DEBUG   96.532578 sec   : guid

[2022-11-22 05:51] knro commented on #685
I never tested guiding with my Evolution mount. Hopefully tonight I can see if the existing code works at all when it comes to guide pulses.

@astrogene1000 So you disable guiding in your case and that's it?

[2022-11-22 10:12] astrogene1000 commented on #685
@knro  Correct, if MC version is < 6.12 then just hide the Guide TAB
CelestronGPS driver, if MC version < 6.12 then switches to timed pulses using MC_MOVE_POS : MC_MOVE_NEG
Same scheme, switch to timed pulses, could be used in AUX driver but that is subject for a different development.

[2022-11-22 11:47] knro commented on #684
I have no camera to test so I'm not sure what's going on.

[2022-11-22 13:02] alepensato commented on #684
If you want take a look, I can invite you to enter into the system using VNC

[2022-11-24 12:36] hiro3110i commented on #684
@alepensato Sorry for silence.  I have built and tested a 64bit version on Raspberry Pi4.
I don't like 64bit version due to slowness of GUI response, but it works just as well as the 32bit.
I've tried many combinations of exposure times and binning with no problems.

My 64bit environment is as below:
- Raspberry Pi4 (4GB RAM)
- Ubuntu 22.04.1 server with KDE desktop system (full upgraded on Nov. 2

[2022-11-24 20:01] alepensato commented on #684
Due the camera works on 64bit with indi driver and PHD2, all problems of power, cables, compatibility could be removed.
So, it has been tested also with latest 3.6.2 and the problem persist.

So, another strange thing is that if you use the INDI panel to set the exposure time and binning .... it works and confim that there is some problem in the EKOS interface that "can not speak correctly" with t

[2022-11-25 14:55] hiro3110i commented on #684
@alepensato Yes, absolutely.  I believe it is not a bug of camera driver or SDK itself.

I don't see anything suspicious in the EKOS UI in my ubuntu 22.04 environment.
I need to consider migrating to 64bit, but I'm frustrated because I can't install them straight to bullseye with apt.

[2022-11-25 22:30] alepensato commented on #684
@murveit Could you get involved in this issue???

[2022-11-28 11:51] nicomedia opened #688 "INDI ASI CCD Driver restart after 2nd take exposure"
**Describe the bug**
I have custom indi client application. When working with "indi_asi_ccd", i could collect image data  over newBLOB function if i call set exposure function. When i call set exposure again driver restarts without error message (newBLOB function should be called instead). Problem is valid for video stream as well. If i call video stream after set exposure function, driver restart

[2022-11-28 11:59] nicomedia opened #689 "INDI ASI CCD Driver "CCD_CAPTURE_FORMAT" is obtained empty in first connection"
**Describe the bug**
I have custom indi client application. I am working with "indiserver -vvv indi_asi_ccd". At first connection, "CCD_CAPTURE_FORMAT" property is obtained empty. If i stop indi client and re-run again, application could obtain "CCD_CAPTURE_FORMAT"  with valid values. If i restart the indiserver again, indi client could not get the value of "CCD_CAPTURE_FORMAT" at first connection

[2022-11-28 18:11] knro commented on #688
Can you provide a sample client to demonstrate this?

[2022-11-29 05:28] nicomedia commented on #688
Hello knro,

Thank you for your quick answer. I attached very very simple example.
Please run indiserver with "indiserver -v indi_asi_ccd" if you increase verbosity, there is actually another bug (or debug information) in indiserver or indi_asi_ccd driver that prints whole image data (blob) to the terminal. (I could not have a chance to look where it prints so far).

[client_sample.zip](https://gi

[2022-11-29 06:12] knro commented on #688
@pawel-soja Can you please check if this is related to the latest changes?

@nicomedia Can you confirm this is built from INDI GIT?

[2022-11-29 06:17] pawel-soja commented on #688
Sure, I'll check it out today

[2022-11-29 06:43] nicomedia commented on #688
I have tested it with v1.9.8 - v1.9.7 and latest night build both for indi-core and indi-3rdparty. Problem seems to be valid for all versions.

[2022-11-29 12:16] pawel-soja commented on #688
I cannot reproduce the problem.
It is possible that the problem is related to the fact that you have a 32-bit build.
@nicomedia Are you able to check if the problem persists on a 64-bit machine as well?

[2022-11-30 11:53] nicomedia commented on #688
Unfortunately i dont have an environment for 64-bit. I am working remotely on 32-bit raspberrry pi system on which camera is connected. I checked the ZWO SDK and there is new driver version libASICamera2.so.1.27, i will try my luck with it. By the way, i saw new pull request about 32-bit support : https://github.com/indilib/indi/pull/1775 . Is this pull request related with this issue @pawel-soja

[2022-11-30 17:52] alepensato commented on #684
?????